<!doctype html>
<html lang="en">
  <head>
    <title>Anna Wholesale | Cung cấp hàng Úc Chính Hãng, Chất Lượng, Giá Tốt Nhất</title>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <!-- <base href="http://localhost:3000" target="_blank"> -->
    <base href="/" target="_blank">
    <!-- <meta name="google-site-verification" content="8dgT24iCf-0rK-pOT4W4q-rgYIZk_L201ZBumRTRDFE" /> -->
    <meta name="google-site-verification" content="8dgT24iCf-0rK-pOT4W4q-rgYIZk_L201ZBumRTRDFE" />
    <script data-ad-client="ca-pub-9605072714278412" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/favicon.ico" />  
    

    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <link rel="canonical" href="<%- canonical %>">

    <link href="/static/css/<!--maincss-->" rel="preload" as="style" onload="this.rel='stylesheet'">
  <noscript><link href="/static/css/<!--maincss-->" rel="stylesheet"></noscript>
  </head>
  <body>
    <div id="root"><%- html %></div>
    <script type="text/javascript"> window.__STATIC_CONTEXT__  = <%- serializedContext %></script> 
    <!--mainjs-->
    <script type="text/javascript"> if (typeof window.storeReset === 'undefined') { setTimeout(() => { window.storeReset() }, 200) } else { window.storeReset() } </script>
    <script src="/lazysizes.min.js" async></script>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '581885349084371',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v6.0'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="106136010946512">
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4GGCS6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
  <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=vietnamese" rel="stylesheet">-->
</html>
