@font-face {
  font-family: 'iconcustom';
  src:  url('fonts/iconcustom.eot?40cyyw');
  src:  url('fonts/iconcustom.eot?40cyyw#iefix') format('embedded-opentype'),
    url('fonts/iconcustom.ttf?40cyyw') format('truetype'),
    url('fonts/iconcustom.woff?40cyyw') format('woff'),
    url('fonts/iconcustom.svg?40cyyw#iconcustom') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="iconanna-"], [class*=" iconanna-"] {
    font-family: 'iconcustom' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 13px;
    line-height: 1;
    margin-right: 5px;
    top: 1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconanna-like:before {
  content: "\e900";
  /*color: #124c96;*/
}
.iconanna-write:before {
  content: "\e901";
  color: #000;
}
.iconanna-zoom:before {
  content: "\e902";
}
.iconanna-heart:before {
  content: "\e903";
}
.iconanna-star-half:before {
  content: "\e904";
  color: #fedc00;
}
.iconanna-star-null:before {
  content: "\e905";
  color: #fedc00;
}
.iconanna-arrow-next:before {
  content: "\e906";
  color: #fff;
}
.iconanna-nav:before {
  content: "\e907";
  color: #000;
}
.iconanna-down_2:before {
  content: "\e908";
  color: #000;
}
.iconanna-down:before {
  content: "\e909";
}
.iconanna-arrow-back:before {
  content: "\e90a";
  color: #fff;
}
.iconanna-plus:before {
  content: "\e90b";
}
.iconanna-search:before {
  content: "\e90c";
  /*color: #fedc00;*/
}
.iconanna-minus:before {
  content: "\e90d";
}
.iconanna-star:before {
  content: "\e90e";
  color: #000;
}
.iconanna-arrival:before {
  content: "\e90f";
}
.iconanna-right_2:before {
  content: "\e910";
}
.iconanna-back:before {
  content: "\e911";
}
.iconanna-right:before {
  content: "\e912";
  color: #000;
}
.iconanna-next:before {
  content: "\e913";
}
.iconanna-cart:before {
  content: "\e914";
  color: #000;
}
.iconanna-info:before {
  content: "\e915";
}
.iconanna-return:before {
  content: "\e916";
}
.iconanna-google:before {
  content: "\e917";
  color: #828282;
}
.iconanna-facebook:before {
  content: "\e918";
  color: #828282;
}
.iconanna-cart_1:before {
  content: "\e919";
  color: #124c96;
}
.iconanna-up:before {
  content: "\e91a";
}
.iconanna-delete:before {
  content: "\e91b";
  /*color: #124c96;*/
}
.iconanna-check:before {
  content: "\e91c";
  /*color: #124c96;*/
}
.iconanna-sortdown:before {
  content: "\e91d";
}
.iconanna-sortup:before {
  content: "\e91e";
}
.iconanna-left_2:before {
  content: "\e91f";
}

.iconanna-edit-copy-8:before {
  content: "\e900";
  color: #fff;
}
.iconanna-edit-copy-9:before {
  content: "\e901";
  color: #9da3ad;
}
.iconanna-edit-copy-10:before {
  content: "\e902";
  color: #fff;
}
.iconanna-send:before {
  content: "\e921";
}
.iconanna-instagram:before {
  content: "\e920";
  color: #707070;
}
