/* Header */
body {
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  height: 2.3rem;
  padding: 0px;
}

.rx-row-nomar {
  padding: 20px;
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
}
.rx-row-nomar >input{
  border-radius: 3px 0 0 3px;
  padding: 8px;
  font-size: 14px;
}

/* Topbar */
.topbar {
  background-color: #eceff3;
  height: 32px;
  border-bottom: solid 1px #eceff3;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: auto;
  padding: 0px
}

a.topbar-item {
  font-size: 11px;
  float: right;
  color: #323232;
  text-decoration: none;
  letter-spacing: 0;
  font-weight: 100;
  padding: 8px 15px;
  margin-right: 0px;
  border-right: solid 1px #193e74;
  /*color: #d2d2d2;*/
}

.mainhead-nav-left {
  float: left;
  width: 33.33%;
  display: inline-block;
  height: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

.mainhead-logo-wrap {
  width: 33.33%;
  float: left;
  justify-content: center;
}

.mainhead-logo {
  width: 145px;
  height: 80px;
  border-radius: 3px;
  background-color: #ffffff;
  display: block;
  /*background-image: url(/images/static/LOGO-ANNA-WHOLSALE.jpg);*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 15px;
}

.rx-footer-end__logo {
  cursor: pointer;
  width: 65px;
  height: 50px;
  background-image: url(/images/static/mlk/logo_footer.svg);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-top: 10px;
}

.nav-wrap {
  display: block;
  width: 100%;
  background-color: #fedc00;
  height: 45px;
  /*position: fixed;*/
  z-index: 9;
  /*padding-top: 80px;*/
}
.rx-bg-nav {
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 0;
  opacity: 0;
  visibility: hidden; 
  background: #f5f5f5;
  -webkit-box-shadow: 1px 1px 2px rgba(34,34,34,.1) inset;
  box-shadow: inset 1px 1px 2px rgba(34,34,34,.1);
  z-index: 1;
  transition: opacity .3s linear;
}
.rx-bg-nav.rx-is-visiable {
  height: 458px;
  visibility: hidden;
  opacity: 1

}
.rx-overlay-bg.rx-is-visiable {
  visibility: hidden;
  background: rgba(34,34,34,.76);
}
.rx-overlay-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: rgba(34,34,34,0);
  cursor: pointer;
  z-index: 1;
  -webkit-transition: background .3s 0s,visibility 0s .3s,-webkit-transform .3s 0s;
  transition: background .3s 0s,visibility 0s .3s,-webkit-transform .3s 0s;
  transition: background .3s 0s,visibility 0s .3s,transform .3s 0s;
  transition: background .3s 0s,visibility 0s .3s,transform .3s 0s,-webkit-transform .3s 0s;
}

.mainhead-cart-number {
  width: 20px;
  height: 20px;
  background-color: #161616;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  font-weight: 100;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  margin-left: 0;
  position: absolute;
  right: 13px;
  top: 7px;
}

.clearfix-martop {
  margin-top: 25px;
}
.clearfix:after, .clearfix-martop:after {
  content: ".";
  visibility: hidden;
  display: block; 
  clear: both;
  height: 0px;
}

/* Logo */
.mainhead_top {
  background-color: #323232;
  width: 100%;
  height: 36px;
  top: 0;
  position: fixed;
  z-index: 100;
}
.mainhead_top_content {
  height: 36px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #707070;
  padding: 0 20px 0 70px;
}
.mainhead-container {
  width: 100%;
  background-color: #ffffff;
  /*position: fixed;*/
  z-index: 99;
}
.main-header {
  position: sticky;
  top: 0;
  z-index: 101;
  /*display: none;*/
}
.mainhead-inner {
  background-color: #fedc00;
  background-image: url(/images/static/bg.png);
  background-size: 2%;
  /*background: rgba(0,0,0,0.5);*/
}
.mainhead {
  font-family: SourceSanPro, san-serif;
  height: 80px;
  box-sizing: border-box;
}

.mainhead-search {
  background-color: #fff;
  margin-top: 8px;
  float: left;  
  height: 33px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  border: solid 1px #cccccc;
  border: none;

  width: 0px;
  transition: width 1s;
  overflow: hidden;
}

.mainhead-search-btn:hover .mainhead-search {
  /*border: solid 1px #cccccc;
  width: 240px; 
  transition: width 0.5s;
  overflow-x: hidden;
  overflow: visible;*/
}
.mainhead-search.input-search {
  border: solid 1px #cccccc;
  width: 240px; 
  transition: width 0.5s;
  overflow-x: hidden;
  overflow: visible;
}

.mainhead-search-button {
  display: none;
  float: right;
  width: 45px;
  height: 40px;
  text-align: center;
  background-color: #193e74;
  color: #fff;
  border-radius: 0 3px 3px 0;
  display: none;
}

.mainhead-search-button>i {
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

.mainhead-nav {
  width: 33.33%;
  margin-top: 10px;
  float: left;
}

.mainhead-nav>div {
  padding: 15px 0px;
  font-size: 12px;
  color: #161616;
  white-space: nowrap;
  float: right;
}

.mainhead-nav>div:last-child {
  margin-right: 0px;
}

.main-container {
  background-color: #fff;
}

/* Main nav */
nav {
  display: block;
  background: #fff;
  border: none;  
  font-weight: 600;
  border-right: none;
  margin: 0;
  padding: 0;
  height: 45px;  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav > ul {
  display: flex;
  justify-content: center;
}

nav > ul > li {
  list-style: none;
  margin: 0 32px;
}

nav > ul > li > a {
  color: #000;  
  letter-spacing: 0px;
  font-size: 14px;  
  text-decoration: none;
}
nav > ul > li > a:visited {
  color: #000;
}
nav > ul > li > a:hover,
nav > ul > li > a:visited:hover {
  color: #c10c0c;
}

.Slider {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Slider-slides>img {
    max-height: 100%;
    margin: 0 calc((100vw - 200px) / 4 - 20px);
}
.Slider-slides>img:first-child {
  margin-left: calc((100vw - 200px) / 2);
}
.Slider-slides>img:last-child {
  margin-right: calc((100vw - 200px) / 2);
}
.Slider-slides {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.Slider-slides>div {
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center;
}
.Slider-slides>div a {
    width: 100%;
    height: 100%;
    /*position: absolute;
    z-index: 2;*/
}
.Slider-slides--transition {
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  transition-duration: 0.4s;
}
.Slider-slides > * {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.Slider-nav {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.Slider-navButton {
  background-color: #caced5;
  border: 0;
  height: 4px;
  opacity: 0.3; 
  outline: none;
  position: relative;
  width: 25px;
  padding: 0;
  cursor: pointer;
  z-index: 11;
  border-radius: 3px;
  margin-right: 7%;
  margin-top: 10px;
}
.Slider-navButton::after {
  /*background: #ffffff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 6px;*/
}
.Slider-navButton:last-child{
  margin-right: 0;
}
.Slider-navButton--active {
  opacity: 1;
  /*background-color: #000;*/
}
.Slider-navButton--active::after {

}
.Slider-arrows {
  height: 0;
  /*left: 0;*/
  float: left;
  position: sticky;
  top: calc(50% - 35px);
  width: 100%;
  z-index: 1;
}
.Slider-arrows--noNav {
  top: calc(50% - 20px);
}
.Slider-arrow {
  cursor: pointer;
  text-align:center;
  background: #323232;
  color: #fff;
  border: none;
  height: 50px;
  outline: none;
  position: relative;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  padding: 0px;
  width: 25px;
  z-index: 11;
}
.Slider-arrow:active {
    background-color: #fedc00;
    color: #323232;
    font-weight: bold;
}
.product-left-img .Slider-arrows{
  top: calc(30% - 35px);
}
.product-left-img .mlkicon-Arrow {
    font-size: 25px;
    top: 10px;
}
.product-left-img .rx-thumb {
  height: auto !important;
  min-height: 320px;
  max-height: 320px;
  display: flex;
}
.product-left-img .rx-thumb img{
  width: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.product-left-img .Slider-inner{
  margin: 0px auto 15px auto;
}
.Slider-arrow:hover {
  opacity: 1;
}
.Slider-arrow::before {
  top: 0;
}
.Slider-arrow::after {
  bottom: 0;
}
.Slider-arrow.Slider-arrow--left {
  left: 0;
}
.Slider-arrow--left {
  top: 50%;
  float: left;
}
.Slider-arrow--right {
  top: 50%;
  float: right;
}
.mlkicon-Arrow {
    font-size: 20px;
    position: relative;
}
.mlkicon-Arrow-s {
    font-size: 20px;
    position: relative;
    top: 15px;
}
.Slider-slides>div {
  height: 615px;
}
/* Product */
.product-item {
  width: 23%;
  margin-right: 2%;
  float: left;
  height: 280px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  padding: 13px;
  margin-bottom: 32px;
  padding-top: 180px;
}
.mainhead-cart {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
}
.mainhead-cart-popup {
  position: absolute;
  width: 360px;
  min-height: 150px;
  max-height: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  top: 52px;
  right: 0px;
  -webkit-box-shadow: 1px 1px 25px rgba(0,0,0,.2);
  box-shadow: 1;
  z-index: 100;
  /*color: #274c95;*/
}
.mainhead-cart-popup:before {
  content: "";
  vertical-align: middle;
  margin: auto;
  position: absolute;
  right: 28px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #323232;
}

.cart-popup-header {
  font-size: 13px;
  margin-bottom: 10px;
  padding: 7px 15px;
  background-color: #323232;
  color: #fff;
  font-weight: normal;
}

.cart-popup-body {  
  max-height: 300px;
  overflow-y: auto;
}

.cart-popup-emptytext {
  padding: 15px;
  font-family: 'Quicksand', sans-serif;
}

.cart-popup-product-img {
  margin-top: 10px;
  height: 70px;
  border-radius: 2px;
  float: left;  
  margin-left: -1px;
  width: 80px;
  object-fit: scale-down;
}
.cart-popup-product-img-admin {
  height: 60px;
  border-radius: 2px;
  float: left;  
  max-width: 60px;
  border-radius: 2px;
}

.cart-popup-product-detail {
  float: left;
  width: 100%;
  position: relative;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 0px;
  font-size: 11px;
  font-weight: bold;
}

.cart-popup-product-amount {
  position: absolute;
  right: 45px;
  top: 11px;
  background-color: #313131;
  color: #fff;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
}

.cart-popup-product-name {
  font-family: 'Gilroy', san-serif;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 7px;
  white-space: pre-wrap;
}
.cart-popup-product-name-admin {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #124c96;
  white-space: pre-wrap;
  font-family: 'Quicksand', sans-serif;
}

.cart-popup-product-option {
  float: left;
  font-weight: 100;
  /*font-style: italic;*/
  margin-right: 7px;
  font-size: 11px;
  color: #828282;
  width: 100%;
}
.cart-popup-product-option b {
  font-size: 13px;
  font-weight: bold;
  color: #323232;
}
.cart-popup-product-option-admin {
  float: left;
  font-weight: normal;
  font-size: 13px;
  width: 100%;
  color: #323232;
  font-family: 'Quicksand', sans-serif;
}

.cart-popup-product- {
  float: none;
  display: inline-block;
  width: 100%;
}
.cart-popup-product-price {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #e61f26;
}
.cart-popup-product-price.active {
  color: #cc4253;
}

.cart-popup-product-priceold {
  font-weight: 600;
  color: #828282;
  text-decoration: line-through;
}

.cart-popup-payment {
  position: relative;
  display: inline-block;
  padding: 9px 15px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: #fedc00;
  color: #323232;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: bold;
}

.cart-popup-product-rm {
  float: right;
  width: 16px;
  height: 16px;
  text-align: center;
  font-weight: 1000;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #323232;
  color: #fff;
}
.cart-popup-detail {
  margin-left: 10px;
}

.rx-padtop-20 {
  padding-top: 20px;
}


.cart-page-body {
  padding-bottom: 15px;
  /*min-height: 500px;*/
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-right: 20px;
  padding-left: 25px;
}

.cart-page-shipping-way {
  padding: 12px 20px;
  /* border-top: solid 1px #eee; */
  margin-top: 15px;
  background-color: #f6f6f6;
}

.cart-page-shipping-way-icon {
  float: right;
  padding: 3px;
  font-size: 16px;
  line-height: 11px;
  background-color: #ddd;
  font-weight: 100;
  cursor: pointer;
  position: absolute;
  right: 25px;
  display: none;
}

.cart-page-payment-way {
  padding: 12px 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #f6f6f6;
}

.cart-popup-detail {
  width: 154px !important;
}

.cart-page-payment-way:after {
  float: right;
  padding: 3px;
  font-size: 16px;
  line-height: 11px;
  background-color: #ddd;
  font-weight: 100;
  cursor: pointer;
  position: absolute;
  right: 25px;
}

.input-group [type=checkbox]+label, .input-group [type=radio]+label {
  line-height: 22px;
}

.cart-page-product-img {
  height: 80px;
  width: 80px;
  object-fit: scale-down;
  float: left;
  margin-right: 15px;
  border-radius: 2px;
  /*border: solid 1px #eee;*/
  box-sizing: border-box;
}

.cart-page-product-name {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  /*padding-right: 110px;*/
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
}

.cart-page-product-amount {
  right: 66px;
  background-color: #fff;
  color: #000;
  width: 40px;
  height: 27px;
  text-align: center;
  float: right;
  position: absolute;
  font-size: 13px;
  line-height: 25px;
  border: solid 1px #d2d2d2;
  box-sizing: border-box;
  font-weight: bold;
}

.cart-page-payment {
  background-color: #2196f3;
  color: #fff;
  padding: 4px 7px;
  border-radius: 2px;
  letter-spacing: .5px;
  font-weight: 100;
  position: absolute;
  bottom: 15px;
}

.cart-page-product-rm {
  width: 19px;
  height: 19px;
  text-align: center;
  margin-right: 5px;
  font-size: 14px;
  color: #828282;
  position: absolute;
  right: 5px;
  cursor: pointer;
  bottom: 5px;
}
.cart-page-product-titlename {
  font-size: 16px;
}
.mlkiconClose {
  font-size: 12px;
}
.cart-popup-product-rm .mlkiconClose {
  font-size: 12px;
  margin-left: -5px;
  position: absolute;
  margin-top: 2px;
  font-weight: bold;
}
.cart-page-product-name-inlist {
  font-weight: 600;
  font-size: 16px;
  color: #323232;
  font-family: Gilroy, sans-serif;
  line-height: 1.2;
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-page-product-detail {
  float: left;
  width: 90%;
  position: relative;
}
.cart-page-product-quantity-inlist {
  width: 115px;
  height: 50px;
  margin-top: 5px;
  position: absolute;
  right: -40px;
}
.cart-page-product-detail-left {
  width: 88%;
  float: left;
}
.cart-page-product-detail-weight{
    position: relative;
    margin-top: 5px;
    font-size: 14px;
    /*float: right;*/
    font-weight: normal;
}
.cart-page-shipweight >b {
    font-size: 14px;
}
.cart-page-shipweight.rx-mobile {
  display: none;
}
.cart-page-product-detail-right {
    float: right;
}
.cart-page-product-row {
  /*position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: 25px;*/
  position: relative;
  /*border-bottom: 1px solid #eee;*/
  padding: 15px 10px 15px 15px;
}
.cart-page-product-row.admin{
  min-height: 80px;
}
.clearfix.cart-page-product-row:nth-child(odd) {
    background-color: #f6f6f6;
}

.cart-page-body .cart-page-product-row:last-child {
  border-bottom: solid 1px #eee;
}

.cart-page-customer-info {
  padding-left: 0px;
  min-height: 500px;
  background-color: #fff;  
  /*margin-left: 3%;
  max-width: 47% !important;*/
  position: relative;
}

.cart-page-customer-inner {
  padding: 10px 25px;
}

.cart-page-customer-inner .rx-row-nomar {
  background-color: #f6f6f6;
}

.cart-page-section-title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  padding-bottom: 0;
  padding-left: 25px;
}

.cart-page-section-titlefull {
  width: 100%;
  border-bottom: solid 1px #eee;
}

.cart-page-section-titletext {
  font-family: Gilroy, sans-serif;
  font-size: 28px;
  font-weight: 600;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-transform: none;
}
.cart-page-customer-info .cart-page-section-titletext {
  padding-left: 0px;
  text-transform: uppercase;
}
.cart-page-customer-info .cart-page-section-titletext {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 40px;
}
.cart-page-section-titletext span {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: normal;
}

.cart-page-shipping-way, .cart-page-payment-way {
  /*display: inline-flex;
  width: 100%;*/
}

.cart-page-shipping-way-title {
  line-height: 30px;
  display: inline-block;
  white-space: pre-wrap;
  font-size: 14px;
}

.cart-page-payment-way-title {
  width: 210px;
  height: 37px;
  display: inline-block;
  white-space: pre-wrap;
  font-size: 14px;
}

.cart-page-shipway, .cart-page-shipmoney, .cart-page-customer-name, .cart-page-customer-email, .cart-page-customer-phone, .cart-page-customer-address {
  font-size: 14px;
  /* margin-right: 10px; */
  font-weight: 600;
  line-height: 16px;
  margin-top:7px;
  text-align: left;
}
.cart-page-group-info div:last-child {
    margin-bottom: 0;
}
.cart-page-customer-adress {
  display: inline-flex;
}
span.cart-page-customer-address {
    width: 25%;
}

.cart-page-group-info div {
    margin-top: 0;
    margin-bottom: 15px;
    overflow:hidden;
}

.figure-body-rating-star .cart-page-customer-name {
  float: left;
}

.rx-input-group-two>div {
  /*width: 50%;
  display: inline-block;*/
}

.rx-input-group-two>div {
  /*width: 48%;
  display: inline-block;
  margin-right: 2%;
  box-sizing: border-box;*/
}

.rx-input-group-two>div:last-child {
  /*margin-left: 2%;
  box-sizing: border-box;
  margin-right: 0;*/
}

.cart-page-shipmoney {
  padding: 20px 0px 20px 0px;
  /* background-color: #f6f6f6; */
  font-weight: 700;
  /* height: 57px; */
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* position: absolute; */
  /* width: 100%; */
  /* bottom: 10px; */
  margin-left: 25px;
  margin-right: 20px;
  border-bottom: 1px solid #eee;
}
.cart-page-shipweight {
  /*padding: 10px 0px;*/
  font-size: 15px;
  /*border-bottom: 1px solid #eee;*/
  text-align: right;
  float: right;
}

.cart-page-shipping-desc {
  width: 100%;
  height: 40px;
  background-color: #ffffff !important;
  background-image: url(/images/static/dropdown.png) !important;
  background-position: right !important;
  background-repeat: no-repeat !important;
  border-radius: 3px;
  border: solid 1px #d2d2d2 !important;
  font-size: 14px;
}

.cart-page-payment-submit-section {
  /*position: absolute;*/
  background-color: #f6f6f6;
  width: 100%;
  height: 121px;
  left: 0;
  bottom: 0;
  padding: 25px;
  box-sizing: border-box;
}
.cart-page-payment-total {
  width: 100%;
  margin-bottom: 15px;
}
.cart-page-payment-total:last-child{
  margin-bottom: 0;
}

.cart-page-payment-subtotal {
  font-weight: bold;
  font-size: 20px;
  color: #d0021b;
  float: right;
  margin-top: -8px;
}

.cart-page-payment-subtotal-label {
  /*width: 90px;*/
  font-weight: bold;
  float: left;
  font-size: 16px;
}

.cart-page-payment-subtotal-label>i {
  font-weight: normal;
  font-style: normal;
}

.cart-page-customer-submit {
  cursor: pointer;
  display: inline-block;
  padding: 10px 25px;
  color: #323232;
  font-size: 16px;
  line-height: 32px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0;
  letter-spacing: 1px;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  text-align: center;
  text-transform: uppercase;
  background-color: #fedc00;
  font-weight: bold;
  letter-spacing: 2.1px;
}

.cart-page-payment-voucher {
  padding: 8px 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  background-color: #161616;
  text-align: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.cart-page-payment-info {
  padding-top: 20px;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
}
.cart-page-payment-info div, .cart-page-payment-info span {
  font-size: 14px;
}
.cart-page-payment-info span {
  float: right;
  font-weight: normal;
}

.cart-page-shipmoney>i {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-left: 5px;
}

.cart-page-shipmoney>b {
  font-size: 20px;
  /*float: right;*/
  line-height: 19px;
  padding-left: 6%;
}

.cart-page-vat {
  padding-left: 14%;
  font-weight: normal;
}
.cart-page-vat i {
  /* line-height: 1.2; */
  font-size: 14px;
  position: absolute;
}

.cart-page-error {
  color: red;
  font-size: 16px;
}

.cart-page-product-size, .cart-page-product-color {
  /*margin-top: 5px;*/
  font-weight: normal;
  color: #828282;
  /*font-style: italic;*/
  font-size: 13px;
}

.cart-page-product-price {
  margin-top: 5px;
  font-weight: bold;
  font-size: 19px;
  color: #323232;
}

.cart-page-product-priceold {
  font-size: 13px;
  color: #828282;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px;
}

.cart-page-product-add {
  cursor: pointer;
  right: 105px;
  background-color: #f6f6f6;
  color: #000;
  width: 27px;
  height: 27px;
  text-align: center;
  float: right;
  position: absolute;
  /*border-radius: 6px;*/
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 15px;
  border: 1px solid #d2d2d2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
}

.cart-page-product-sub {  
  right: 40px;
  cursor: pointer;
  background-color: #f6f6f6;
  color: #000;
  width: 27px;
  height: 27px;
  text-align: center;
  float: right;
  position: absolute;
  /*border-radius: 6px;*/
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 15px;
  border: 1px solid #d2d2d2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
}

.cart-background2 {
  background-color: #f6f6f6;
}

.cart-background1 {
  background-color: #fff;
}

.nav-menu-all {
  position: relative;
  float: left;
  width: 248px;
  text-align: center;
  height: 44px;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #c01329;  
}
.nav-menu-all>a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 15px;
}
#root {
  background: #ffffff;
  /*background-image: url(/images/static/Background.jpg);  */
}
.rx-icon {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 5px;
  background-size: contain;
}
.rx-icon-cart {
  background-image: url(/images/static/Header/cart.png); 
}
.rx-icon-nav {
  background-image: url(/images/static/Header/Nav@1x.png); 
  left: 15px;
}
.rx-icon-menuitem {
  background-image: url(/images/static/Category/Cate2@1x.png); 
  left: 15px;
}
.rx-action-addcart .rx-icon {
  width: 18px;
  height: 18px;
  left: 15px;  
}
.rx-relative {
  /*position: absolute;*/
  bottom: 40px;
}
.rx-product-list-container {
  padding-left: 248px;  
  margin: 30px 0;
}

.rx-product-list-inner {
  width: 100%;
  height: 100%;  
  top: 0px;
  box-sizing: border-box;
}

.rx-categories-inlist .rxcategory-dropdown {
  padding-top: 10px;
  background-color: #ffffff;
}

.rx-categories-inlist .categories-item{
  margin: 0;
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid #fff;
  padding-left: 45px;
}

.rx-categories.rx-categories-inlist{
  margin-bottom: 20px;
}

.rx-categories-header-inlist {
  background-color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 0px;
  min-height: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.rx-categories-header-inlist:before {
    display: block;
    width: 85%;
    height: 1px;
    content: '';
    margin-left: 0;
    margin-top: 30px;
    position: absolute;
    border-radius: 2px;
    /*background-color: #d2d2d2;*/
}

.rxmlkiconPlus {
  font-weight: 600;
    float: right;
    font-size: 21px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: -4px;
}

.rx-payment-page {    
  min-height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: .25rem;
}

.rx-product-detail-page {    
  margin-top: -4px;
  min-height: 500px;
  box-sizing: border-box;
}

.product-content {
  /*padding-top: 50px;
  padding-bottom: 30px;*/
  background-color: #ffffff;  
}

.product-detail-block {
  min-height: 30px;
  background-color: #fff;
  /*margin-top: 100px!important;*/
  /*min-height: 600px;*/
}

.product-detail-block:last-child {
  margin-bottom: 30px;
}

.product-detail-block-title {
  font-size: 15px;
  font-weight: 500;
  margin-top: -35px;
  position: absolute;
  letter-spacing: 2px;
  border-bottom: 4px solid;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 30px;
}

.cart-page-left {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.rxprice-container {
  box-sizing: border-box;
  padding: 10px 0;
  border-bottom: solid 1px #eee;
}

.product-detail-block .row>.col-md-4 {
  border: solid 1px #eee;
  padding: 10px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #fafafa;
}
.product-detail-block .row>.col-md-8 {
  border: solid 1px #eee;
  padding: 10px;
  box-sizing: border-box;
}

nav>ul {
  justify-content: left;
  margin: 0px !important;
  padding-left: 0px;
  /*display: inline-block;*/
  width: 100%;
  /*overflow: hidden;*/
  height: 44px;
  display: flex;
  white-space: nowrap;
}

nav>ul>li {
  margin: 0px;
  padding: 0px 11px;
  float: left;
}
nav>ul>li:first-child {
  /*padding-left: 30px;*/
}
nav>ul>li>a, nav>ul>li>a:visited {
  font-family: Gilroy, sans-serif;
  color: #323232;
  font-size: 16px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: normal;
  cursor: pointer;
  text-transform: uppercase;
}

nav>ul>li:hover {
}

nav>ul>li>a:hover, nav>ul>li>a:visited:hover {
  color: #323232;
}

.rx-pad-25 {
  padding: 25px;
}

.rx-pad-30 {
  padding: 55px 30px 0px;
}

.rx-cat-sorting .rx-cat-pagin>span.rx-active {
  font-weight: bolder;
  background-color: #828282;
  position: relative;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 10px;
  border-radius: 2px;
  color: #323232;
  font-size: 13px;
}

.search-categories-item>a {
  width: 100%;
  box-sizing: border-box;
  padding: 7px 20px;
  display: block;
  font-weight: normal;
  cursor: pointer;
}

.search-categories-item:first-child {
  margin-top: 10px;
}

.search-categories-item.rx-active a {
  font-weight: bold;
}

input.rx-quanty-input {
  background-color: #fff!important;
  border: 1px solid #ddd!important;
  padding: 7px;
  border-left: none!important;
  box-shadow: none;
  border-right: none!important;
  text-align: center;
  width: 40px;
  line-height: 21px;
}

.rx-action-addcart-info {
  /*margin-top: 25px;*/
  /*height: 30px;*/
  margin-bottom: 20px;
}

.rx-action-addcart-error {  
  color: #d1021b;  
}

.rx-action-addcart-success {  
  color: green;  
}

span[disabled] {
  background-color: #eee;
  color: #888;
  cursor: not-allowed !important;
  opacity: 0.5;
}

.mainhead-search-category {
  background-color: #e2e2e2;
  float: right;
  display: block;
  height: 100%;
  font-size: 12px;
  color: #323232;
  /*padding: 11px;*/
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: none;
}

a.topbar-item.topbar-freeship>i {
  font-weight: 600;
  font-style: normal;
  color: #c01329;
}

a.topbar-item>b {
  color: #c01329 !important;
  font-weight: 500;
}

a.topbar-item-left {
  font-size: 11px;
  color: #323232;
  font-weight: 100;
  padding: 10px;
  line-height: 32px;
}

a.topbar-item-left>b {
  font-weight: 400;
  color: #c01329;
}

.mainhead-search-input {
  position: absolute;
  margin-top: 12px;
  margin-left: 12px;
  color: #888;  
}

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  background: linear-gradient(to bottom, #595959, var(--black));
  background-color: #595959;  
  cursor: pointer;
  display: block;
  height: 0.8rem;
  margin-left: -.5rem;
  margin-top: -.5rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: box-shadow .3s ease-out,-webkit-transform .3s ease-out;
  transition: box-shadow .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out,-webkit-box-shadow .3s ease-out;
  transition: -webkit-transform .3s ease-out,-webkit-box-shadow .3s ease-out;
  -o-transition: transform .3s ease-out,box-shadow .3s ease-out;
  transition: transform .3s ease-out,box-shadow .3s ease-out;
  transition: transform .3s ease-out,box-shadow .3s ease-out,-webkit-transform .3s ease-out,-webkit-box-shadow .3s ease-out;
  transition: transform .3s ease-out,box-shadow .3s ease-out,-webkit-transform .3s ease-out;
  width: 0.8rem; }
  .input-range__slider:active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
            transform: none; }

.input-range__slider-container {
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out; }

.input-range__slider:after {
  /*content: '';
  top: -6px;
  position: absolute;
  width: 0px;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #161616;*/
}

.input-range__label {
  color: #000000;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  -webkit-transform: withTranslationZ(0);
          transform: withTranslationZ(0);
  white-space: nowrap;
  font-weight: bold; }

.input-range__label--min,
.input-range__label--max {
  top: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  bottom: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }
  .input-range__label--max .input-range__label-container {
    left: 50%; }

.input-range__track {
  background: #e2e2e2;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .input-range--disabled .input-range__track {
    background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #969696; }

.input-range {
  height: 1rem;
  position: relative;
  width: 100%; }

span.input-range__label.input-range__label--min>span, span.input-range__label.input-range__label--max>span {
  color: #999;
  font-weight: normal;
}

span.input-range__label.input-range__label--min:after {
  /*content: 'k';
  margin-left: -8px;
  color: #999;
  font-weight: normal;*/
}

span.input-range__label.input-range__label--max:after {
  content: "";
  color: #999;
  right: -28px;
  position: absolute;
  font-weight: normal;
}

/* WISH LIST */
.mainhead-wishlist {
  position: relative;
}
.mainhead-wishlist a {
  color: #ffffff;
}
.rxico-wishlist {
  display: block;
  float: left;
  font-size: 20px;
  padding: 0 30px;
  border-right: solid 1px #888;
  color: #161616;
}

/* ACCOUNT */
.mainhead-account {
  position: relative;
}
.mainhead-account-login>i {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  display: block;
  color: #193e74;
}
.rxshow-l {
  color: #193e74;
}
.rxico-account {
  display: block;
  float: left;
  font-size: 20px;
  padding: 0 30px;
  border-right: solid 1px #888;
  color: #161616;
}
.cart-page-customer-detail {
  font-weight: normal;
  /*margin-bottom: 10px;*/
  float: right;
  font-size: 15px;
  text-align: right;
}

.rxico-cart {
  display: block;
  float: left;
  font-size: 20px;
  padding: 0 30px;  
}

.rxico-search {
  font-size: 20px;
  padding: 0px 30px;
  /*border-right: solid 1px #1f569a;*/
}
.mainhead-search-btn {
  position: relative;
  display: none;
}
/* SEO ADMIN */
.rxcontent-adminseo-wrap {
  padding: 15px;
  background-color: #F5F5F5;
  border-radius: 2px;  
}

.rxcontent-adminseo-demo {
  margin-top: 0px !important;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 2px;
  min-height: 60px;
}

.rxcontent-adminseo-seotitle {
  font-size: 16px;
  font-weight: 600;
  color: #1565c0;
  line-height: 24px;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
}

.rxcontent-adminseo-seoslug {
  font-weight: 400;
  color: #4CAF50;
  font-family: 'Quicksand', sans-serif;
}

.rxcontent-adminseo-seometa {
  font-weight: normal;
  color: #333;
}

.rx-hide {
  display: none;
}

.about-body-text-right>div {
  width: 100%;
}

.rx-padright-15 {
  padding-right: 15px;
  box-sizing: border-box;
}

.rx-no-after:after {
  display: none;
}

.rx-main-product {
}

.rx-footer-help-ico {
  font-size: 16px;
  margin-right: 7px;
  position: absolute;
  left: 0px;
  top: 6px;
  display: inline-block;
}

.rx-footer-social-contain {  
  width: 240px;
  margin: auto;
  margin-top: 20px;
}

.rx-footer-social-ico {
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.rx-footer-ecdc-paymentway {
  position: absolute;
  right: 0px;
  top: -20px;
}
.container--grey {
  padding-top: 5px;
  /*padding-bottom: 35px;*/
  background-color: #f2f2f2;
}
.container--shadow {
  position: sticky;
  z-index: 7;
  width: 100%;
  height: 50px;
  top: 116px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.rx-product-relasted {
  width: 100%;
  padding-bottom: 20px;
  /*border-bottom: 1px solid #eee;*/
  padding-right: 15px;
}
.rx-product-relasted .rx-product-relasted-title {
  padding-top: 0;
}

.fontsize-15 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.rx-product-detail-page .rx-main-page {
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.product-content-nav {
  border-bottom: solid 1px #eee;
  width: 100%;
  height: 60px;
}

.product-content-nav-holder {
  /*height: 61px;*/
  width: 100%;
}

.product-content-nav-item {
  float: left;
  padding: 27px 20px;
  padding-bottom: 12px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: -4px;
}

.product-content-nav-item:hover {
  border-bottom: solid 5px #f2f2f2;
}

.product-content-nav-item.rx-active {
  border-bottom: solid 5px #161616;
}

.product-detail-content-wrap {
  padding-right: 15px;
  margin-top: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-flex: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.rx-sticky.fixed {
  visibility: visible;
  position: fixed;
  background-color: #fff;
  /*top: 0;
  z-index: 100;
  width: 1220px;*/
  box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
}
.cart-scroll.rx-sticky.fixed {
  visibility: hidden;
}
.rx-product-desc-col {
  font-size: 15px;
  /*padding-right: 60px;*/
}

.rx-product-desc-col * {
  font-size: 13px;
}
.rx-product-desc-col-name {
    border-bottom: 1px solid #323232;
    margin-bottom: 25px;
    width: 100%;
}

.rx-product-desc-col-text {
  font-family: Gilroy, sans-serif;
  width: fit-content;
  letter-spacing: 1;
  /*background-image: linear-gradient(260deg, #2983c7, #124c96);*/
  background-color: #323232;
  font-weight: bold;
  font-size: 18px;
  display: block;
  color: #fff;
  padding: 15px 50px;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rx-product-faq {
  flex: none;
  display: block;
}

.rx-product-faq-title {
  font-family: Gilroy, sans-serif;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #323232;
  text-align: center;
}

.rx-product-faq-quest {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}

.rx-product-faq-anwser {

  font-size: 15px;
}
.rx-product-faq-anwser:active {

}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #eee; /* or add it to the track */
}
/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #161616; 
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.hide-scroll::-webkit-scrollbar-thumb {
  background: transparent;
}

.boxheader {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
}
.boxsearch {
    width: 90%;
    height: 100%;
    position: relative;
}
.boxsearch-position {
    width: 400px;
    height: 40px;
    top: 20px;
    position: relative;
    margin-left: 35px;
}
.boxsearch-filter {
    width: 80px;
    height: 100%;
    position: absolute;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.boxsearch-filterselect {
    font-family: Source Sans Pro, san-serif;
    cursor: pointer;
    height: 100%;
    width: 80px;
    background-color: #fff !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 0px !important;
    padding-left: 10px;
    background-image: url(/images/static/dropdown.png) !important;
    font-size: 14px;
    font-weight: 600;
    color: #323232;
    border: solid 2px #e3be00 !important;
    border-right: 0 !important;
}

select.boxsearch-filterselect:focus, select.boxsearch-filterselect:hover, .boxsearch-inputsearch:hover, .boxsearch-inputsearch:focus {
    border: 1px solid #e2e2e2;
}
.boxsearch-input {
    width: 320px;
    height: 100%;
    position: absolute;
    margin-left: 80px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.boxsearch-inputsearch {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    border:solid 2px #e3be00 !important;
    border-left: solid 1px #e3be00 !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.boxsearch-inputsearch::placeholder {
    color: #929292 !important;
}
.boxsearch-inputicon.mlkicon-Search {
    font-size: 15px;
    right: 13px;
    position: absolute;
    top: 13px;
    color: #F5a623;
    cursor: pointer;
}
.boxregister {
    width: 20%;
    height: 100%;
    position: relative;
    display: inline-flex;
    min-width: 200px;
}
.boxregister .icon-profile {
    display: none;
}
.boxregister-avatar {
    width: 40px;
    height: 40px;
    border: 2px solid #e3be00;
    border-radius: 41px;
    margin-top: 20px;
    background: #fff;
    position: relative;
}
.boxregister-imgavatar {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.boxregister-text {
    margin-left: 10px;
    margin-top: 20px;
    color: #323232;
    font-size: 13px;
}
.boxregister-text div a {
  font-weight: bold;
  font-size: 14px;
}
.boxregister-text >div {
  font-size: 14px;
  line-height: 1.2;
}
.boxshop {
    width: 20%;
    height: 100%;
    position: relative;
    top: 20px;
}
.boxshop-box {
    width: 118px;
    height: 36px;
    right: 0px;
    position: absolute;
    display: inline-flex;
    cursor: pointer;
    border-radius: 2px;
    border: solid 2px #e3be00;
    background-color: #eec900;
}
.boxshop-img.mlkicon-Cart {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 4px;
    /*color: #1f569a;*/
}
.boxshop-text {
  text-align: center;
  width: 55px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  color: #323232;
  font-size: 14px;
}
.boxshop-number {
    text-align: center;
    width: 18px;
    height: 18px;
    margin-top: 9px;
    background-color: #c01329;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.boxfavorite-desktop{
  display: block;
  padding: 0 5px;
}
.boxfavorite-mobile {
  display: none;
}
.boxfavorite-row {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: 4px;
    margin-bottom: 4px;
    position: relative;
    display: flex;
}
.boxfavorite-row.best-collect {
  margin: auto auto 50px;
}
.boxfavorite-row.best-collect:last-child {
  margin: 0 auto;
}
.boxfavorite-ele {
    width: 12.5%;
    /*height: 138px;*/
    height: 190px;
    background: #fff; 
    position: relative;
    margin-right: 4px;
    max-width: 138px;
    cursor: pointer;
}
.boxfavorite-ele:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: #f5a623;
    z-index: 9
}
.boxfavorite-ele:hover .boxfavorite-text {
  color: #f5a623;
}
.boxfavorite-elebox {
  position: relative;
  /*width: 70px;
  height: 70px;*/
  margin: auto;
  /*padding: 15px 20px;*/
}
span.boxfavorite-text {
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: #323232;
  line-height: 1.2;
  font-family: 'Gilroy', sans-serif;
  cursor: pointer;
  display: block;
  white-space: pre-wrap;
  overflow: hidden;
  max-height: 40px;
}
img.boxfavorite-img {
  width: auto;
  margin: auto;
  max-width: 100%;
  /*height: 70px;*/
  height: 140px;
  max-height: 100%;
  display: block;
  margin-bottom: 7px;
  object-fit: contain;
}
.boxfeatured-desktop {
  display: block;
  margin: 0 10px;
}
.boxfeatured-mobile{
  display: none;
}
.boxfeatured-row {
  width: 100%;
  height: 340px;
  margin-bottom: 15px;
  position: relative;
  display: inline-flex;
}
.boxlogo {
  /*top: -36px;*/
  float: left;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 130px;
  height: 125px;
  background-color: #fff;
  left: 0px;
}
.mainhead_top-left {
  float: left;
  color: #fff;
  padding: 5px 0;
}
.boxheader-logo {
  position: relative !important;
  display: -ms-inline-flexbox;
  width: 130px;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*background-image: url(/images/static/LOGO-ANNA-WHOLSALE.jpg);*/
}
.boxheader-logo-text {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  /* text-transform: uppercase; */
  padding-top: 5px;
}
.boxfeatured-ele {
  cursor: pointer;
  width: 20%;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 15px;
  position: relative;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
}
.boxfeatured-ele:last-child {
  margin-right: 0;
}
.boxfeatured-ele:hover .figure-body-title {
  color: #f5a623;
}
.mlkicon-MenuCate {
  
}
.iconhelper-Icon1 {
  background-image: url(/images/static/best.svg);
  background-repeat: no-repeat;
}
.iconhelper-Icon2 {
  background-image: url(/images/static/shield-copy.svg);
  background-repeat: no-repeat;
}
.iconhelper-Icon3 {
  background-image: url(/images/static/payment.svg);
  background-repeat: no-repeat;
}
.iconhelper-Icon4 {
  background-image: url(/images/static/cash.svg);
  background-repeat: no-repeat;
}
.container.mlk-wrapper {
    position: relative;
}
.rx-product-detail-navbar {
    font-size: 13px;
    padding: 17px 0;
    position: relative;
    line-height: 1.23;
    color: #000000;
    overflow: hidden;
}
.rx-filter-search {
    padding: 0px 20px 10px;
    position: relative;
}
.rx-filter-iconsearch.iconanna-search {
    position: absolute;
    right: 22px;
    font-size: 16px;
    top: 6px;
    color: #f5a623;
}
.rx-sort-active {
    border: solid 1px #F5a623;
}
.rx-sort-active span.iconanna-star:before, .rx-sort-active .rx-text-sorting {
    color: #323232;
}
.rx-search-name-detail .rx-filtered-label-delete {
    width: 21px;
    height: 21px;
    border: 1px solid #124c96;
    border-radius: 14px;
    padding: 3px;
}
.Slider-arrows-product {
    height: 0;
    /* left: 0; */
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: calc(35% - 35px);
    width: 100%;
    z-index: 1;
}

.Slider-arrow-product {
    cursor: pointer;
    background: #323232;
    color: #fff;
    border: none;
    height: 38px;
    outline: none;
    position: relative;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    padding: 0px;
    width: 20px;
    z-index: 11;
}

.Slider-arrow-product--left {
    top: 50%;
    float: left;
}

.Slider-arrow-product--right {
    top: 50%;
    float: right;
}

.product-left-img .iconanna-arrow-next {
    font-size: 17px;
    top: 10px;
    left: 2px;
}

.product-left-img .iconanna-arrow-back {
    font-size: 17px;
    top: 10px;
    left: 2px;
}


.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
    display: block;
    border: 1px solid #d4d4d4;
    width: 475px;
    height: 475px;
    position: absolute;
    top: 0px;
    left: 330px;
    z-index: 9;
    -webkit-box-shadow: beige;
    box-shadow: beige;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.img-hide-zoom {
  display: none;
}

.figure-body-rating-star .rx-star {
    color: #fedc00;
}
span.rx-favorite-text {
    font-size: 15px;
    color: #323232;
}
.lk-img-product-block {
    height: 48px;
    width: 48px;
    margin: auto;
    /* display: block; */
    position: relative;
    overflow: hidden;
}
.lk-img-product {
    width: 100%;
    height: 100%;
    /* max-height: 48px; */
    object-fit: scale-down;
}
.cart-popup-product-roworder {
  float: right;
  width: 70%;
}
.rx-cat-boxsorting {
  display: inline-flex;
}
.lk-itemtitle-padding-box {
  height: 51px;
  font-size: 15px;
  font-weight: bold;
}
.mainhead-cart-boxalert {
  display: none;
}
.mainhead-cartalert {
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}
.mainhead-cartalert-popup {
  position: absolute;
  width: 275px;
  min-height: 100px;
  max-height: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  top: 52px;
  right: 0px;
  -webkit-box-shadow: 1px 1px 25px rgba(0,0,0,.2);
  box-shadow: 1;
  z-index: 100;
  border-radius: 5px;
}
.mainhead-cartalert-popup:before {
  content: "";
  vertical-align: middle;
  margin: auto;
  position: absolute;
  right: 11px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.mainhead-cartalert-text {
  font-size: 16px;
  padding: 15px 20px 10px;
}
.cartalert-icon {
  width: 26px;
  height: 26px;
  border: 1px solid;
  border-radius: 10px;
  color: #b9e2ff;
  background-color: rgba(227, 190, 0, 0.2);
  font-size: 15px;
  color: #f5a623;
}
.nav-menu-boxcurrency {
  float: right;
  display: inline-flex;
  padding-right: 40px;
}
.nav-menu-currency {
  width: 70px;
  height: 26px;
  font-size: 14px;
  position: relative;
  padding: 0 34px 0 10px !important;
  background-image: url(/images/static/ArrowBackNext/down.svg) !important;
  border-radius: 2px;
  /*opacity: 0.71;*/
  color: #fff;
  border: none !important;
  background-color: #1c1f28 !important;
  margin-top: 5px !important;
  cursor: pointer;
}
label>div {
  font-size: 14px;
  color: #a2a2a2;
}
.cart-page-customer-return {
  font-size: 14px;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px #d2d2d2;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  margin: 20px 25px;
  text-transform: uppercase;
  cursor: pointer;
}
.cart-page-customer-return:hover {
  color: #124c96;
  border: solid 1px #124c96;
}
.cart-scroll {
  padding: 15px 0;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 20;
  bottom: 0;
}
.cart-page-group-info {
  background-color: #f6f6f6;
  padding: 15px;
  margin: 20px 0;
}
.rs-checkbox-customer-small {
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  border: solid 1px #d2d2d2;
  border-radius: 9px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
.rs-checkbox-customer-small .active {
  margin: 4px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 9px;
  background-color: #f5a623;
}
.rs-checkbox-group-nametext.active {
    color: #f5a623;
}
.cart-scroll-title {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0;
}
.cart-scroll-title b {
  font-size: 18px;
}
.cart-scroll-title span {
  font-weight: normal;
}
.cart-scroll .cart-page-payment-total {
  padding: 10px;
  margin-bottom: 0;
}
.cart-scroll .cart-page-payment-subtotal {
  font-size: 24px;
}

/**
 * EasyZoom core styles
 */
.easyzoom {
  position: relative;
  /* 'Shrink-wrap' the element */
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.easyzoom img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
}

.easyzoom.is-error  img {
  cursor: not-allowed;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
  position:absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
.tile {
  position: relative;
  float: left;
  width: 33.333%;
  height: 100%;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .5s ease-out;
}

.lk-page-custome-register-mail-input button {
  cursor: pointer;
}
.nav-menu-nav::-webkit-scrollbar {
  width: 12px;
  height: 10px
}
.nav-menu-nav::-webkit-scrollbar-button {
  width: 100px;
}
.nav-menu-nav::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nav-menu-nav::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #828282;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
}
.nav-menu-nav::-webkit-scrollbar-thumb:window-inactive {
  background: #828282;
}
select.form-controlLanguage {
    float: right;
}
.mainhead_top_content .box-change-language {
  float: right;
  position: relative;
}
.rx-mobile-show.box-change-language {
    position: relative;
    color: #fff;
    padding: 0 15px;
}
.rx-mobile-show.box-change-language select {
  margin-left: 15px;
  background-image: url(/images/static/dropdown.png) !important;
}
.rxnav-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}