.rxsent-mail {
    font-family: arial;
    color: #333333;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #1775bc;
    margin-top: 50px;
    background-image: initial;
    background-size: initial;
    background-origin: initial;
    background-clip: initial;
    background-position: initial;
    background-repeat: initial;
    background: #fff;
}
.rxtitle-mail {
	padding: 20px 0px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Gilroy', sans-serif;
}
.rx-body-mail {
    padding: 20px;
    line-height: 24px;
}
.rx-header-mail-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: left;
}
table.rx-table-mail {
    width: 100%;
    padding: 10px;
    border: none;
}
th.rx-body-mail-name {
    width: 40%;
}
th.rx-body-mail-image {
    width: 15%;
}
table.rx-table-mail th {
	background: #e6e6e6;
}
.rx-body-mail-product {
	background-color: #f2f2f2;
}
.rx-body-mail-product:nth-child(even) {
    background-color: #f6f6f6;
}
table.rx-table-mail th, table.rx-table-mail td {
	border-left: none;
     border-top: none; 
}
.rx-total-mail, .rx-bottom-mail {
	text-align: left;
}
.rx-total-mail .adform_ct1>span:first-child {
    width: 85%;
    float: left;
}
.rx-bottom-mail .adform_ct1 span:first-child {
    width: 50%;
    float: left;
}
.rx-footer-mail div {
    padding: 10px 0;
}
.rx-footer-mail {
    padding: 10px;
}
hr.rx-sent-mail-hr {
    margin: 5px auto;
}
.adform_ct1 span {
    line-height: 35px;
}
.rx-bottom-mail {
    margin-top: 20px;
}