span.table-total-money {
  font-weight: 600;
  color: #4caf4f;
  font-size: 11px;
  float: left;
  text-align: right;
  width: 100%;
}

.admin-orderblock-details-main {
  height: 100%;
}

.admin-orderblock-history-main {
  padding: 20px 0px 10px 20px;
}

.admin-orderblock-customer-main {
  min-height: 500px;
  border-left: solid 1px #eee;
  padding-top: 20px;
  padding-left: 20px;
}

.order-details-title {
	padding: 20px 20px 10px 20px;
}
.order-details-title >div {
  font-family: 'Quicksand', sans-serif;
}

.order-details-content {
  padding: 10px 20px 20px 20px;
}

.orderblock-customer-detail-title {
	display: flex;
  padding-bottom: 10px;
}

.orderblock-customer-detail-label {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
}

.orderblock-customer-detail-content {
  padding: 0 10px;
  border-left: 3px #0078bd solid;
  white-space: normal;
}

.orderblock-customer-detail-title-name {  
  flex: 1 1 0%;
}

.orderblock-customer-lable-name {  
	font-size: 16px;
	white-space: normal;
  font-family: 'Quicksand', sans-serif;
}

.orderblock-customer-detail-title-channel {
  font-size: 16px;
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.orderblock-customer-detail-title-channel img.lk-card-order-img {
    margin-right: 0px;
    cursor: auto;
}

.border-line-main {
	border-top: 1px solid #ebeef0;
}

/*.lk-cart-order-amount {
  position: absolute;
  right: 15px;
  font-size: 16px;
}*/
.lk-cart-order-amount {
  position: relative;
  float: left;
  text-align: center;
  width: 25%;
  font-size: 12px;
  line-height: 40px;
  white-space: nowrap;
  font-family: 'Quicksand', sans-serif;
}
.input-discount {
    padding-right: 10px;
}
.pre-discount {
    margin-right: -10px;
}
.lk-cart-order-amount >input {
  width: stretch;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.lk-cart-order-amount-price {  
  position: relative;
	width: 50%;
  float: right;
  font-size: 16px;
}
.order-details-header {
  position: relative;
  width: 50%;
  float: right;
  font-size: 16px;
}
.order-details-header >div {
  position: relative;
  width: 30%;
  float: right;
  font-size: 16px;
  text-align: right;
  font-family: 'Quicksand', sans-serif;
}
.order-details-header >div:first-child {
    text-align: center;
}
.lk-cart-order-amount:last-child {
    text-align: right;
}

.lk-cart-order-total {
    display: none;
}

.lk-card-order-lable {
  margin-left: 54px;
}

.lk-card-order-lable-name {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}
.lk-card-order-lable-desc {
  font-family: 'Quicksand', sans-serif;
}

.lk-card-order-img {
  height: 50px;
  border-radius: 2px;
  float: left;
  margin-right: 15px;
}

.lk-cart-order-row {
  float: left;
  width: 50%;
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
}

.order-details-content {
  padding: 10px 20px 0px 20px;
}

.order-details-note {
  padding: 0px 20px 10px 20px;
  height: 270px;
}

.order-details-note-content {
  margin: left;
  float: right;
}

.lk-quanty-order-right-body {
  margin: 0px 30px;
  font-size: 14px;
}

.lk-quanty-order-left {
  width: 83%;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.lk-quanty-order {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 0px;
  width: 95%;
}

.lk-quanty-order .bock-icon-check {
  margin-left: 75px;
}

.lk-quanty-order-right {
  align-items: center;
  width: 65%;
  font-size: 16px;
  text-align: right;
  white-space: nowrap;
  font-family: 'Quicksand', sans-serif;
}
.lk-quanty-order-update-btn {
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  background: #44a6aa;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  color: #fff;
}
.lk-quanty-order-right-input {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.lk-quanty-order-right >span{
  font-family: 'Quicksand', sans-serif;
}

.order-details-function {
  padding: 0px 0px 10px 20px;
}

.orderblock-history-title {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}

.orderblock-history-content {
  padding: 10px 0px 10px;
  height: 10px;
}

.orderblock-history-body {
  float: left;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

.orderblock-history-time {
  font-family: 'Quicksand', sans-serif;
  float: right;
  padding-right: 40px;
  font-size: 14px;
}

.orderblock-customer-detail-info {
  padding-bottom: 10px;
  overflow: hidden;
}

.orderblock-customer-detail-text {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}
.orderblock-customer-detail-text input {
    float: right;
}
.orderblock-customer-detail-text span {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}
.orderblock-customer-detail-address {
  /*float: right;*/
}

.orderblock-customer-address {
  padding-top: 10px;
}

.lk-order-button {
  padding: 5px;
  background-color: #44a6aa;
  color: #ffff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Quicksand', sans-serif;
}

.lk-button-order-refund {
  background-color: #fff !important;
  color: #000;
  font-size: 12px;
  border: 1px solid #aeb2b5;
}

.lk-button-order-refund:hover {
  background: #c4cdd5 !important;
  opacity: 1;
}

.lk-modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.lk-modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  border: 1px solid #888;
  width: 65%;
  min-height: 450px;
  border-radius: 3px;
  height: 65%;
  margin-top: 142px;
  overflow: hidden;
}
.lk-modal-content.refund {
    width: 75%; 
    margin-top: 45px;
    height: 90%;
}
.lk-table-order-refund.table_scroll {
    height: 270px;
}

.lk-modal-header {
  padding: 10px;
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.lk-modal-title {
  width: 50%;
  float: left;
  font-size: 20px;
  font-weight: 200;
}

.lk-modal-close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  text-align: right;
}

.lk-modal-close:hover,
.lk-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lk-modal-body {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.table_scroll {
  height: 150px;
  overflow: auto;
}

.lk-table-order-refund table {
  width: 100% !important;
}

.lk-table-order-refund-totals {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #e5e5e5;
}

.lk-refund-totals {
  float: right;
  width: 50%;
}

.lk-reason-refund {
  padding-top: 10px;
}

.lk-text-title-reason-refund {
  font-size: 14px;
}

input.lk-text-reason-refund {
  width: 70%;
}

.lk-modal-footer {
  padding: 10px;
}

.lk-pull-right {
  padding-top: 20px;
  float: right;
}

span.lk-button-cancel {
  border: 1px solid #ddd;
  margin-right: 14px;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

span.lk-button-refund {
  border: 1px solid #ddd;
  margin-right: 14px;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #3a9ef0;
  color: #fff;
  cursor: pointer;
}

.lk-box-option-ship {
  width: 95%;
}

.lk-select-form select{
  margin-left: 0px; 
  width: 100%;
}

.lk-order-button.lk-button-order-left {
  width: 45%;
  float: left;
}
.lk-order-button.lk-button-order-left.disable, .lk-order-button.lk-button-order-right.disable {
    background-color: #828282;
    cursor: default;
}

.lk-order-button.lk-button-order-right {
  width: 110px;
  float: right;
}

.lk-order-button:hover {
	background: #1e5c5e;
  opacity: 1;
}

.bock-icon-check {
  color: #44a6aa;
}

.bock-icon-check-svg {
	font-size: 2em;
}

.lk-icon-check {
	fill: none; 
	stroke: currentcolor; 
	stroke-width: 3; 
	stroke-linecap: round; 
	stroke-linejoin: round;
  color: #f5a623;
}

span.lk-status-box {
  font-weight: 400;
  font-size: 10px;
  padding: 2px 3px;
  cursor: pointer;
  white-space: nowrap;
}

span.lk-status-noconfirm {
  background: #fafafa;
  color: #000;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
}

span.lk-status-confirm {
	background-color: #e5f2ce;
  color: #4b6319;
  border: solid 1px #cddeb5;
  border-radius: 2px;
}

td.lk-action-edit {
  cursor: pointer;
  color: #343575;
}
td.lk-action-edit a{
  font-family: 'Quicksand', sans-serif;
}

span.lk-number-table {
  font-weight: bold;
  color: #4caf4f;
  font-size: 11px;
  padding-left: 45%;
}

.lk-customer-page {
  border-left: solid 1px #eee;
}
.lk-customer-page .rx-row-nomar {
  min-height: 450px;
  margin-bottom: 20px;
}

.rxcustomer-title {
  font-size: 28px;
  font-weight: bold;
  /*margin-top: 25px;*/
  color: #323232;
  /*padding-bottom: 25px;
  border-bottom: solid 1px #eee;
  margin-bottom: 30px;*/
  font-family: 'Gilroy', sans-serif;
}

.lk-customer-mainnav-item {
  font-size: 14px;
  font-weight: 400;
  padding: 7px;
  display: block;
  padding-left: 2.5rem;
  cursor: pointer;
  line-height: 10px;
}

.lk-customer-mainnav-item>a {
  font-size: 14px;
  color: #323232;
}

.lk-discount-inner {
  padding: 4px;
  border: 1px dashed #1c8aa6;
  border-radius: 3px;
  color: #fff;
}
.lk-discount-inner p{
  font-family: 'Quicksand', sans-serif;
}

.lk-discount {
  padding: 3px;
  background: #4da9c1;
  border-radius: 3px;
  position: relative;
}

.lk-dropdown {
  position: relative;
}

.lk-main-rating-title {
  width: 100%;
}

.lk-main-rating-title .rxcustomer-title{
  width: 90%;
  float: left;
}

.lk-reviews-rating-close {
  float: right;
  margin-top: 35px;
  width: 2%;
}

.lk-customer-product-img {
  height: 140px;
}

.lk-customer-product-lable {
  margin-left: 220px;
}

.lk-customer-product-row {
  position: relative;
  border-bottom: solid 1px #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 10px;
}

.lk-box-product-img {
  height: 100%;
  width: 20%;
  float: left;
}

.lk-box-product-info {
  height: 100%;
  width: 40%;
  float: left;
  margin-left: 3%;
}

.lk-box-product-ratings {
  height: 100%;
  width: 30%;
  min-width: 225px;
  float: right;
}

.lk-customer-product-row:hover {
  background-color:#f5f5f5;
}

.lk-product-addcart {
  font-size: 12px;
  line-height: 20px;
  width: 80%;
  min-width: 178px;
  height: 100%;
}

.lk-product-addcart.rx-action-addcart-lg .rx-icon {
  width: 20px;
  height: 20px;
  left: 8px;
}

.lk-product-positon-start {
  padding-left: 6%;
  padding-bottom: 10px;
  cursor: pointer;
}

.lk-product-command-text {
  display: inline;
  margin-left: 35%;
  float: left;
  color: #aaaaaa;
  font-weight: 100;
}

.lk-product-box-addcart {
  width: 100%;
}

.lk-product-box-addcart .rx-heart {
  width: 20px;
  margin-right: 10px;
  margin-top: 13px;
}

.lk-card-order-lable-desc.rxprice {
  margin-top: 10px;
  font-size: 20px;
}

.lk-box-product-reviews-img {
  height: 50%;
  width: 40%;
  float: right;
  padding-bottom: 20px;
}

.lk-box-product-reviews-title {
  font-family: Gilroy, sans-serif;
  color: #323232;
  text-transform: uppercase;
  margin-bottom: 40px!important;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
}

.lk-box-product-reviews-title:before {
  display: block;
  width: 20%;
  height: 3px;
  content: '';
  margin-left: 40%;
  margin-top: 35px;
  position: absolute;
  border-radius: 2px;
  background-color: #fedc00;
}

.lk-margin-bottom {
  margin-bottom: 30px;
}

.lk-box-product-reviews-botton {
  height: 39px;
}

.lk-box-product-reviews-main {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #f6f8fc;
  overflow: hidden;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lk-reviews-product-submit {
  font-family: Gilroy, sans-serif;
  cursor: pointer;
  display: inline-block;
  padding-top: 12px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  margin-top: 0;
  letter-spacing: 1px;
  /*width: 140px;
  height: 100%;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  color: #323232;
  height: 50px !important;
  width: 220px;
  font-size: 15px !important;
  letter-spacing: 2px !important;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fedc00;
}

.lk-reviews-product-submit span {
    font-size: 20px;
    color: #323232;
}

.lk-reviews-product-cancel {
  cursor: pointer;
  display: inline-block;
  padding-top: 11px;
  height: 100%;
  width: 32%;
  color: #000;
  font-size: 13px;
  border-radius: 2px;
  margin-top: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  background: #F1F1F1;
}

.lk-product-reviews-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.lk-list-product-rating-gui {
  color: #124c96;
  list-style: none;
  margin-bottom: 10px;
}

.lk-list-product-rating-start>.rx-star {
  float: right;
  margin-top: 3px;
  margin-left: 7px;
  color: #fedc00;
}

.lk-list-product-rating-start {
  margin-right: 10px;
  font-size: 13px;
  float: left;
  font-weight: bold;
  line-height: 22px;
  color: #323232;
}

.lk-list-product-rating-count {
  font-size: 13px;
  line-height: 22px;
  color: #323232;
}

.lk-list-rating-progress {
  margin-right: 10px;
}

.lk-list-rating-progress-bar {
  display: inline-block;
  min-width: 50%;
  height: 5px;
  line-height: 0px;
  background-color: #fafafa;
  border-radius: 10px;
  width: 68%;
}

.lk-list-rating-progress-bar .lk-list-rating-progress-bar-choosed {
  display: inline-block;
  height: 100%;
  background-color: #323232;
  border-radius: 10px;
}

.lk-reviews-start-main {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  white-space: nowrap;
  border-radius: 3px;  
  padding: 25px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 240px;
  border-bottom: solid 1px #eee;
}

.lk-reviews-line-start {
  display: inline-flex;
  float: left;
  width: 420px !important;
}
.lk-reviews-line-main-right .lk-reviews-line-start {
    /*float: left;*/
    width: 100% !important;
    margin-top: 1px;
  }
.lk-reviews-line-like {
    bottom: -10px;
    position: relative;
    display: inline-flex;
}
.lk-reviews-line-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.lk-reviews-line-like-text {
  font-size: 13px;
    color: #828282;
    line-height: 40px;
}
.lk-reviews-line-like-button {
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: solid 1px #124c96;
    background-color: #ffffff;
    padding: 0px 10px;
    color: #124c96;
    font-size: 13px;
    font-weight: bold;
    max-height: 30px;
    position: relative;
    line-height: 30px;
}
.lk-reviews-line-like-button span, .lk-reviews-line-like-button-start span {
    font-size: 18px;
    margin-right: 5px;
}
.lk-reviews-line-like-button-start {
  cursor: pointer;
    margin-left: 15px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: solid 1px #323232;
    background-color: #ffffff;
    padding: 5px;
    color: #323232;
    font-size: 13px;
    font-weight: bold;
    max-height: 30px;
    position: relative;
    line-height: 30px;
}
.lk-reviews-start {
  /*width: 260px;
  height: 150px;
  margin-left: 10px;*/
}

.lk-reviews-progress-start {
  padding-left: 0;
  float: left;
  margin: 25px 50px 0 0;
  margin-top: 0px;
  width: 100%;
}

.lk-reviews-main-title {
  width: 100%;
  height: 20px;
  padding: 10px 0px 14px 10px;
  background-color: #ddd;
  border-radius: 2px;
}

.lk-reviews-main-title span {
  font-size: 16px;
  font-weight: 600;
}

.lk-reviews-line-main {
  width: 100%;
  height: 100%;
}

.lk-reviews-line-main:first-child {
  margin-top: 30px;
}

.lk-reviews-line-main:nth-child(odd) .lk-reviews-line-main-body {
  background-color: #ffffff;
}

.lk-reviews-line-header {
  width: 100%;
  height: 23px;
}

.lk-reviews-line-header-score {
  float: left;
  display: inline-block;
  width: 105px;
  color: #124c96;
}

.lk-reviews-line-header-title {
  float: left;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
}
.lk-reviews-line-header-time {
  float: right;
  width: 10%;
}

.lk-reviews-line-body {
  height: 22px;
  width: 100%;
}

.lk-reviews-line-body {
  float: left;
  width: 100%;
  height: 100%;
  color: #808080;
}

.lk-reviews-line-body-name {
  font-size: 15px;
  text-align: center;
  line-height: 21px;
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 5px;
}

.lk-reviews-line-body-time {
  text-align: center;
  line-height: 20px;
  font-weight: 100;
  font-size: 13px;
  color: #999999;
  white-space: nowrap;
}

.lk-reviews-line-body-checked {
  float: left;
  width: 32%;
}

.lk-reviews-line-body-checked .rx-security-checked-icon {
  float: left;
  margin-right: 17x;
  padding-right: 0px;
}

.lk-reviews-line-body-checked span {
  margin-left: 10px;
  color: #22b345;
}

.lk-reviews-start-title {
  font-size: 18px;
  font-weight: 600;
  /*width: 70%;*/
  text-align: center;
  /*margin-left: 28px;*/
  margin-bottom: 5px;
}

.lk-reviews-start-icon {
  text-align: center;
  width: 125px;
  margin: auto;
}

.lk-reviews-start-command {
  width: 110px;
  font-size: 15px;
  margin: auto;
  margin-top: 7px;
  color: #aaa;
  font-weight: 100;
}

.lk-reviews-start-divice {
  color: #d0021b;
  font-weight: 600;
  margin: auto;
  text-align:center;
  font-size: 52px;
  line-height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.lk-reviews-function-command {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.lk-reviews-function-command-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.lk-reviews-function-btn {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: block;
  background-color: #fedc00;
  padding: 9px;
  height: auto;
  width: 200px !important;
  font-weight: bold;
  font-size: 15px !important;
  border-radius: 3px;
  margin-top: 7px;
  color: #323232;
  text-transform: uppercase;
  height: 40px;
}
.lk-reviews-function-btn span {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.lk-reviews-function-command-width {
  font-family: Gilroy, sans-serif;
  width: 210px !important;
  height: 50px;
  font-size: 15px !important;
  letter-spacing: 2px;
  padding: 13px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lk-reviews-progress-start-position {
  float: left;
  width: 27%;
  margin-right: 0.33%;
  /*border-right: solid 1px #e6e6e6;*/
}

.lk-reviews-progress-center-position {
  float: left;
  width: 40%;
  margin-right: 0.33%;
}

.lk-box-product-reviews-main-formrating {
  float: left;
  width: 63%;
}

.lk-box-product-reviews-main-rating {
  float: left;
  width: 33%;
  margin-right: 20px;
  padding:10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}

.lk-box-product-reviews-img {
  width: 100%;
  text-align: right;
  float: none;
  padding-bottom: 0px;
  padding: 15px 0;
}
img.lk-img-rating {
  /*padding: 0 20px;*/
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.lk-box-product-reviews-main-inforating {
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
  margin-top: 0px;
}

.lk-box-product-reviews-main-inforating .cart-page-customer-name {
  font-family: Gilroy, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 10px;
}

.lk-box-product-reviews-main-rating .figure-body-rating-star {
  width: 120px;
  margin: auto;
}

.cart-page-customer-price-review {
  width: 100%;
  display: block;
  float: left;
  font-size: 15px;
  margin-bottom: 11px;
  box-sizing: border-box;    
}

img.lk-box-product-reviews-main-rating {
  width: 90%;
  padding: 5%;
}

.lk-reviews-main-box {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f8fc;
}

.lk-reviews-main-title-select {
  font-weight: bold;
  float: left;
  font-size: 14px;
  line-height: 45px;
  margin-right: 15px;
  color: #323232;  
  width: 20%;
}

.lk-reviews-line-main-right {
    width: 80%;
    height: 100%;
}

.lk-reviews-line-start {
  float: left;
  width: 80%;
}

.lk-reviews-line-start-score {
    margin-right: 15px;
    width: 39%;
    float: left;
    border-radius: 5px;
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
    padding: 7px;
    font-size: 13px;
    color: #323232;
    line-height: 1.23;
}

.lk-reviews-line-start-score select {
  cursor: pointer;
  width: 100%;
  background-image: url(/images/static/Header/Dropdown.svg) !important;
  background-color: #fff !important;
  border:none;
  font-size: 13px;
}

.figure-body-account {    
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 22px;
  font-size: 35px;
  color: #ddd;
}

.figure-body-security {    
  width: 14px;
  height: 17px;
  margin-right: 2px;
  padding: -6px;
  position: absolute;
  background-size: cover;
  background-image: url('/images/static/Product/Icon/security-checked@2x.png');
}

.lk-position-img-icon-account {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  position: relative;
  margin-bottom: 10px;
  margin: auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.lk-reviews-line-main-body {
  width: 100%;
  min-height: 150px;
  background-color: #f9f9f9;  
  padding: 35px 40px;
  box-sizing: border-box;
  border-bottom: solid 1px #d2d2d2;
  display: flex;
  overflow: hidden;
}

.lk-reviews-line-info {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  /*height: 25px;*/
}

.lk-notifi-buyed {
  font-size: 14px;
  color: #869467;
  margin-left: 25px;
}

.rx-action-addcart-mainbox {
  width: 100%;
  height: 100%;
}

.rx-action-favorite {
  float: right;
  display: block;
  margin-top: 12px;
  font-size: 15px;
  margin-right: 10px;
}

.rx-heart-medium {
  /*background-image: url(/images/static/Product/Icon/heart@2x.png);*/
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-right: 10px;
}

.mainhead-favorite-number {
  width: 20px;
  height: 20px;
  background-color: #161616;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  font-weight: 100;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  top: 7px;
  position: absolute;
  right: 17px;
}

.lk-login-section-title.rx-active.lk-favorite-noauth {
  width: 100%;
  text-align: left;
}

.lk-page-line-mainbox {
  font-size: 14px;
  font-weight: 600;
  color: #274c96;
  margin-bottom: 20px;
}

.lk-block-cicle-icon-check {
  width: 25px;
  height: 25px;
  border: 2px solid #f5a623;
  border-radius: 22px;
  padding: -1px;
}

.lk-page-line-mainbox .lk-block-cicle-icon-check {
  float: left;
  margin-right: 13px;
  margin-top: -4px;
}

.lk-page-line-mainbox span {
  font-size: 18px;
  font-family: 'Gilroy', sans-serif;
  color: #323232;
}

.lk-box-orderid {
  width: 100%;
  height: 37px;
  text-align: left;
  background-color: #f1f3eb;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lk-box-orderid span {
  font-size: 24px;
  font-weight: 600;
  color: #323232;
  padding-left: 5%;
}
.lk-box-orderid span:first-child{
  font-size: 18px;
}
.lk-payment-complete-text span {
    color: #f5a623;
    font-weight: bold;
    font-size: 14px;
}

.lk-payment-complete-text , .lk-payment-complete-text b{
    line-height: 30px;
    font-size: 14px;
}
.lk-payment-complete-text a {
    color: #f5a623;
    font-weight: bold;
    font-size: 14px;
}
.lk-payment-complete-text i {
    color: #f5a623;
    font-style: normal!important;
    font-size: 14px;
}

.lk-button-payment-countinuos {
  margin-top: 20px; 
}

.lk-button-payment-countinuos .cart-popup-payment {
  width: 180px;
  float: right;
}

.cart-popup-continute-order {
  position: relative;
  display: inline-block;
  padding: 9px 15px;
  padding-left: 20px;
  border-radius: 3px;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid #a09696;
  margin-right: 10px;
  cursor: pointer;
}

.mainhead-search input {
  font-size: 14px;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;  
  border-radius: 0px;
}

.mainhead-search-box {
  width: 100%;
  height: 100%;
}

.mainhead-search-suggestion {
  width: 100%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 2px #999;
  position: relative;
}

.mainhead-search-category select {  
  width: 100%;
  margin: 0px;
  height: 100%;
  border-radius: 0px;
  border: 1px solid #193e74;
}

.rx-heartfill-medium {
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: inline-block;
  float: left;
  position: relative;
  margin-right: 10px;
}

.heart {
  background-color: #f27871;
  display: inline-block;
  height: 20px;
  margin: 9px;
  position: absolute;
  top: 0;
  transform: rotate(-45deg);
  width: 20px;
  cursor: pointer;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #f27871;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
  top: -12px;
  left: 0;
}

.heart:after {
  left: 12px;
  top: 0;
}

.lk-order-tracking-main-title {
  text-align: center;
  font-size: 24px;
  text-align: center;
  padding: 0 15px;
  color: #3e452d;
}

.lk-order-tracking-main-desc {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.lk-order-tracking-main-form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 150px;
}

input.lk-order-tracking-input {
  margin: 0px;
  width: 100%;
}

.lk-order-tracking-input-form {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 150px;
  width: calc(100% - 110px);
}

.lk-order-tracking-main-button {
  float: left;
  margin-left: 0px;
  width: 100px;
  height: 28px;
  padding-top: 2px;
  text-align: center;
  background-color: #fedc00;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  color: #323232;
  font-size: 16px;
  white-space: nowrap;
  box-shadow: 0 -2px 0 #3e452d inset;
  vertical-align: middle;
  margin-top: 9px;
}

.lk-order-tracking-text {
  line-height: 30px;
}

.lk-order-tracking-text b {
  font-size: 16px;
}

.lk-header-progress-container {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.lk-header-progress-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.lk-header-progress-item {
  position: relative;
  display: inline-block;
  width: 18%;
  text-align: center;
  line-height: 3em;
}

.lk-header-progress-item:after {
  position: absolute;
  display: block;
  z-index: 1;
  top: -2px;
  left: -70px;
  height: 2px;
  width: 155px;
  content: "";
  background-color: #00b6f0;
}

.lk-header-progress-item:before {
  position: absolute;
  z-index: 2;
  top: -11px;
  left: 50%;
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #000;
  text-align: center;
  background: url(/images/static/Product/Icon/check.png) 4px 5px no-repeat #00b6f0;
}

.lk-header-progress-item:first-child:after {
  display: none;
}

.lk-header-progress-item.todo {
  color: #dddadd;
}

.lk-header-progress-item.todo:after {
  background: #f1f1f1;
}

.lk-header-progress-item.todo:before {
  background-color: #dadada;
}

.lk-process-item-block {
  padding: 10px;
  width: 100%;
  position: absolute;
}

.lk-process-item-time {
  top: -60px;
  left: 18px;
  position: absolute;
}

.lk-order-tracking-main-block {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 10px;
}

.lk-order-tracking-main-block .lk-order-tracking-main-title {
  font-size: 16px;
}

.lk-order-tracking-main-block .lk-order-tracking-main-title span{
  color: #7bc828;
  font-size: 16px; 
}

.admin-table-wrap .lk-order-tracking-main-title {
  margin-bottom: 13px;
}

.lk-item-padding-box {
  padding: 5px;
}

.lk-item-padding-box  h4{
  height: 25px;
}

.lk-item-padding-box  p{
  margin: 0px;
}

.lk-text-center {
  font-size: 12px;
  text-align: center;
}

.rs-checkbox-group {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  border-radius: 3px;
  overflow: hidden;
  height: 150px;
  overflow-y: auto;
}

span.rs-checkbox-group-all {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  border: solid 1px #aaa;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

span.rs-checkbox-group-small {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  border: solid 1px #aaa;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}


.rs-checkbox-group-name {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0px;
  display: block;
  height: 30px;
}

.rs-checkbox-group-nametext {
  max-width: 100%;
  color: #325;
  float: left;
  font-size: 14px;
}

span.rs-checkbox-group-all .lk-ch{
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  border: solid 1px #aaa;
  border-radius: 5px;
  margin-top: -5px;
  margin-right: 5px;
}

.rs-checkbox-group-body {
  background-color: #fff;
  color: #333;
  font-size: 12px;
  line-height: 18px;
}

.rs-checkbox-group-child {
  margin-top: 4px;
}

span.lk_checkall {
  background-color: #095FF7;
}

span.lk_checkone {
  background-color: #9dc1ff;
}

span.lk_checkexist{
  background-color: #9dc1ff;
}

.rx-permission-show {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #eee;
  height: 100%;
}

.rx-permission-group {
  margin-bottom: 10px;  
}

.rx-permission-perele {
  font-size: 11px;
  border-radius: 2px;
  padding: 3px;
  margin-right: 5px;
  border: solid 1px #eee;
  margin-top: 5px;
  float: left;
}

span.rx-permission-perele {
  font-size: 11px;
  border-radius: 2px;
  padding: 3px;
  margin-right: 5px;
  border: solid 1px #eee;
  margin-top: 5px;
  float: left;
}

.lk-size_button {
  margin: 0px;
  margin-top: 15px;
  background-color: #;
}

.lk-box-find-category {
  display: none;
  position: fixed;
  bottom: 25px;
  left: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #b0a7a7;
  background-color: #eee;
  z-index: 100;
  border-radius: 10px;
  cursor: pointer;
}

.figure-body-find-category {
  width: 30px;
  height: 32px;
  margin-top: 4px;
  margin-left: 4px;
  position: absolute;
  background-image: url('/images/static/Header/Search Copy@2x.png');
  background-repeat: no-repeat;
}

.lk-cat-bg {
  display: none;
  background: #ffffff;
  position: fixed;
  z-index: 100;
  bottom: 80px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 5px #888888;
  max-height: 80%;
  overflow-y: scroll;
  top: 0;
}

.search-categories-item:hover {
  background: #f6f6f6;
  font-weight: 700;
}

.lk-table-main-question {
  height: 100%;
  background-color: #fff;
  margin: 10px;
}

.lk-table-left-question {
  width: 30%;
  float: left;
  background-color: #fff;
  height: 100%;
}

.lk-table-right-question {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #fff;
  box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
}

.lk-line-box {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lk-input-amount-discount {
  width: 80px;
  float: left;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 3px 0px 0px 3px !important;
}

.lk-box-check-limit-discount {
  width: calc(100% - 80px);
  float: right;
}

.lk-box-check-limit-discount .rs-checkbox-group-body {
  background-color: #eee;
  padding-top: 0.3px;
  padding-left: 13px;
  height: 30px;
  margin-top: 4px;
  border-radius: 0px 3px 3px 0px;
}

.lk-box-check-limit-discount input[disabled], input[disabled] {
  background-color: #eee; 
  border-color: #ddd; 
  color: #999;
  cursor: default; 
  opacity: 1.65!important; 
}

.lk-box-main-option-discount {
  width: 100%;
}

.lk-box-main-option-discount .lk-input-text-code {
  width: calc(100% - 135px) !important;
  float: left;
}

.lk-box-main-option-discount .lk-button-gen-code {
  float: right;
  width: 115px;
  padding-top: 6px;
  margin-top: .25rem;
  height: 30px;
}

.lk-checbox-main {
  display: block;
  position: relative;
  padding-left: 30px;
  width: 100%;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px; 
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Quicksand', sans-serif;
}

.lk-checbox-main input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #aaa;
}

.lk-checbox-main:hover input ~ .checkmark {
  background-color: #fff;
}

.lk-checbox-main input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.lk-checbox-main input:checked ~ .checkmark:after {
  display: block;
}

.lk-checbox-main .checkmark:after {
  left: 6px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid #58b3f0;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lk-text-title-type-discount {
  height: 30%;
}

.lk-box-main-type-option-discount {
  width: 100%;
  height: 100%;
}

.next-input,.next-input--stylized{
  min-width: 75px;
  vertical-align: baseline;
  margin: 0;
  border-style: inset;
  color: #000;
  margin-top: 4px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 2px 10px;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  font-weight: 400;
  line-height: 24px;
  text-transform: initial;
  letter-spacing: initial;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.next-input:focus,.next-input--stylized:focus{
  border-color:#0078bd;
  -webkit-box-shadow:0 0 0 1px #0078bd;
  box-shadow:0 0 0 1px #0078bd;
  outline:none;
  position:relative;
  z-index:1;
}

.next-input--stylized{
  position:relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  overflow:hidden;
  background:#fff;
}

.next-input--stylized .next-input--invisible{
  border:0;
  -webkit-box-shadow:none;
  box-shadow:none;
  padding:0;
  outline:none;
  height: 20px;
}

.next-input-add-on{
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  align-self:center;
  -webkit-box-flex:0;
  -webkit-flex:none;
  -ms-flex:none;
  flex:none;
  white-space:nowrap;
  color:#a0a0a0;
}

.next-input__add-on--after{
  padding-left:10px;
}

.lk-inactive {
  background: #9E9E9E;
  text-decoration: line-through;
}

.lk-wrapper-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100% 35px;
}


/*DataTime*/
.rdtPicker .rdtDays table th, 
.rdtPicker .rdtMonths table th,
.rdtPicker .rdtTime table th,
.rdtPicker .rdtYears  table th{
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.rdtPicker .rdtDays table, 
.rdtPicker .rdtMonths table,
.rdtPicker .rdtTime table, 
.rdtPicker .rdtYears table{
  border: 1px solid #eee !important;
}

.rdtPicker .rdtDays table tbody td, 
.rdtPicker .rdtDays table tfoot td, 
.rdtPicker .rdtMonths table tbody td,
.rdtPicker .rdtTime table tbody td,
.rdtPicker .rdtYears table tbody td {
  border: none !important;
  text-align: center;
}

.rdtNext span, .rdtPrev span {
  font-size: 22px;
}

td.rdtDay:hover {
  background: #eee;
}

.rdtPicker table tr:hover {
  background-color: #fff !important;
}

td.rdtDay.rdtOld, td.rdtDay.rdtNew {
  color: #999999;
}

.rdtPicker td {
  cursor: pointer;
}

.rdtPicker td, .rdtPicker th {
  text-align: center;
  height: 18px;
}

.rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  margin: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}

.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;   
  -moz-user-select: none;     
  -ms-user-select: none; 
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}


.lk-block-table-function .lk-block-table-button-add, .lk-block-table-function .lk-block-table-button-input{
  float: left;
  width: 75px;
}

.lk-block-table-function .lk-block-table-button-set {
  float: left;
  width: 40px;
}

.lk-block-table-button-add, .lk-block-table-button-set {
  height: 23px;
  padding-top: 5px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 4px;
}

.lk-button-active {
  background-color: #eee
}

.tabset .tab-panel {
  display: none;
}

.tab-panels .tab-panel.active {
  display: block;
}

.tab-panels {
  border-top: none !important;
  border: 1px solid #eee;
}

.tabset .tablinks {
  position: relative;
  display: inline-block;
  padding: 15px 15px 50px 15px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  width: calc(20% - 32px);
  text-align: center;
  background-color: #e3e7ee;
}

.tabset .tablinks:hover:after, .tabset .tablinks.active:after, .tabset .tablinks:hover  {
  background: #eaf1f4;
}

.tabset .tablinks.active {
  background-color: #fff;
  border-left: solid 1px #e3e7ee;
  border-top: solid 1px #e3e7ee;
  border-right: solid 1px #e3e7ee;
  width: calc(20% - 32px);
}
.tabset .tablinks >div {
  color: #2b333d;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

.tab-panel {
  padding: 30px 0;
  /*border-top: 1px solid #eee;*/
}
.tab-panel-title {
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b333d;
}
.lk-blockchart-tab-head {
  padding: 10px;
}

.lk-dashboar-body-left {
  float: left;
  width: 60%;
  min-width: 635px;
  padding-left: 15px;
}
.lk-dashboar-body-left-name {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b333d;
  font-family: 'Quicksand', sans-serif;
  float: left;
}
.lk-dashboar-body-left-item {
  width: 25%;
  float: left;
  margin-left: 45px;
  border-radius: 5px;
  border: solid 1px #d2d2d2;
  background-color: #ffffff;
  padding: 5px;
  font-size: 13px;
  color: #323232;
  line-height: 1.23;
}
.lk-dashboar-body-left-item select {
    cursor: pointer;
    width: 100%;
    background-image: url(/images/static/Header/Dropdown.svg) !important;
    background-color: #fff !important;
    border: none;
    font-family: 'Quicksand', sans-serif;
}
.lk-dashboar-body-left-item input {
  cursor: pointer;
  width: 100%;
  background-image: url(/images/static/Header/date.svg) right !important;
  background-color: #fff !important;
  border: none;
  font-family: 'Quicksand', sans-serif;
  padding: .2rem;
}
.lk-dashboar-body-right .lk-dashboar-body-left-item{
  margin-left: 5px;
  width: 33%;
}

.lk-dashboar-body-right {
  float: left;
  width: 37%;
  /*width: calc(31% - 10px);
  min-width: 250px;
  padding-right: 15px;*/
}
.lk-dashboar-body-right >h4 {
  font-family: 'Quicksand', sans-serif;
}

.tablinks {
  color: #96a7b6;
  line-height: 20px;
}

.tablinks .lk-dashboard-price {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2b333d;
}

.tabset .tablinks.active .lk-dashboard-price{
  color: #124c96;
}
.lk-dashboard-amount {
  font-family: SourceSansPro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b333d;
}

.lk-mouse-text {
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
  width: 85px;
  font-size: 15px;
  padding: 4px;
  height: 20px;
  border-radius: 5px;
}


.rs-checkbox-payment-small {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  border: solid 1px #aaa;
  border-radius: 2px;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-right: 10px;
}

.rs-checkbox-payment-small:hover {
  border-color: #0288d1;
}

.lk_checkpayment {
  position: absolute;
  padding: 0px;
  background-color: #000;
  height: 10px;
  margin-left: 3px;
  margin-top: 3px;
  width: 10px;
}

.rs-checkbox-payment-small .iconanna-check {
    font-size: 17px;
    top:-2px;
}

.box-payment {
  overflow-y: auto;
  height: auto;
  width: auto;
  position: relative;
}
.mlkicon-Down.icon-down, .mlkicon-Up.icon-down {
    font-weight: bold;
}
.lk-customer-img-profile {
  width: 20%;
}
.fixed_tonggle {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.fb-customerchat {
  position: fixed;
  bottom: 0;
  right: 85px;
  bottom: 30px;
}
.lk-reviews-empty {
  text-align: center;
}
.boxfavorite-ele.best-collect:last-child {
  margin-right: 0;
}
.boxfavorite-ele.best-collect {
  width: 24%;
  max-width: 255px;
  margin-right: 40px;
  height: unset;
  padding-bottom: 40px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
}
.best-collect .boxfavorite-img {
    height: 255px;
    /*max-height: 255px;*/
    object-fit: contain;
}
.rx-banner {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  border: solid 3px #fedc00;
  background-color: #ffffff;
  padding: 10px;
  padding-bottom: 10px;
}
.boxfavorite-elebox.best-collect {
  padding: 0;
}
.rx-carousel {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    padding: 10px;
}
