.rxnews-pagewrap {
  background-color: #ffffff;
  min-height: 1200px;
  padding: 45px;
  /*margin-top: 30px;*/
}

.rxnews-cat>div {
  float: left;
  font-weight: 600;
  font-size: 11px;
  padding: 5px 12px;
  border-bottom: 2px solid;
  margin-right: 9px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  border-radius: 16px;
  color: #161616;
  margin-bottom: 10px;
  font-family: Gilroy, sans-serif;
}

.rxnews-cat>div.rx-active {
  background-color: #161616;
  color: #ffffff;
}

.rxnews-contents {
  padding-right: 30px;
}

.rxnews-cat {
  margin-bottom: 20px;
}

.rxnews-hot {
  padding: 20px 20px;
  min-height: 350px;
  border-radius: 3px;
  border: solid 1px #ccc;
  border-top: 4px solid #161616;
  margin-top: 50px;
}

.rxnews-hothead {
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
  color: #161616;
  display: block;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: -65px;
  font-family: Gilroy;
}

.rxnews-hotbody>a {
  font-weight: 500;
  margin-top: 9px;
  padding-left: 15px;
  font-size: 13px;
  display: block;
}

.rxnews-hotbody>a:before {
  content: "";
  display: block;
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #161616;
}

.rxnews-post-cat>div {
  float: left;
  margin-right: 10px;
  /* padding: 1px 10px; */
  font-size: 10px;
  cursor: pointer;
  color: #B71C1C;
  font-weight: 500;
  /* background-color: #eee; */
  border-radius: 20px;
  margin-bottom: 3px;
  font-family: Gilroy;
}

.rxnews-post {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
  min-height: 140px;
  position: relative;
  overflow-y: hidden;
}

.rxnews-post:nth-child(odd) {
  background: #f6f6f6;
}

.rxnews-post-title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  font-family: Gilroy;
}

.rxnews-post-pic {
  width: 250px;
  position: absolute;
  height: 172px;
  background-color: #f2f2f2;
}

.rxnews-post-body {
  padding: 10px 10px 10px 280px;
}

.rxnews-post-desc {
  color: #999;
  font-weight: 100;
  font-family: Quicksand;
  font-size: 14px;
}

.rxnewsex-image {
  margin-bottom: 30px;
  margin-top: 30px;
}

.rxnewsex-image>img {
  max-width: 300px;
}

.rxnewsex-title {
  font-size: 28px;
  font-weight: bold;
  padding-right: 50px;
  margin-bottom: 10px;
}

.rxnewsex-content {
  padding-right: 50px;
  font-size: 14px;
}

.rxnewsex-content a {
  color: #00aae7;
}

.rxnewsex-content p {
  font-size: 14px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.rxnewsex-content b {
  font-size: 14px;
}

.rxnewsex-date {
  color: #929292;
  text-align: right;
  height: 20px;
}

.rxnews-post-cat {
  float: left;
}

.rxnewsex-desc {
  padding-right: 40px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

.rxnews-hotbody a:visited {
  color: #777;
}

/* Email */

.testclass {
  font-size: 20px;
}
.rx-main-content__video>div:first-child {
    text-align: center;
    margin: 10px 0 20px;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.rx-main__news-title {
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    margin: 10px 0 20px;
    font-size: 20px;
}
.rx-main__video {
    max-width: 100%;
    max-height: 300px;
    height: 300px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    padding: 10px;
}

.rx-main__video iframe {
  width: 100%;
  height: 100%;
  align-items: center;
  /*padding: 10px;*/
}
.rx-main-content__video {
  float: left;
  width: 41.5%;
  margin-right: 10px;
}
.rx-main-content>div {
    display: flex;
    white-space: nowrap;
}
.rx-main-content__news {
  float: left;
  width: 57%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.news__item {
    border-bottom: solid 1px #f1f1f3;
    padding: 10px 30px;
}
.news__item:nth-child(odd) {
    background-color: #fafafa;
}
.news__item-details {
    /*display: flex;*/
    overflow: hidden;
    background-color: #fafafa;
    padding: 10px;
    display: none;
    cursor: pointer;
}
.news__item-details img {
    max-width: 190px;
    float: left;
    margin-right: 15px;
    object-fit: contain;
    /* height: 100%; */
    height: 125px;
}
..news__item-title {
  font-size: 13px;
  color: #4d4f5c;
}
.news__item-desc {
  font-size: 13px;
  color: #43425d;
}
.news__item-details-title, .news__item-title {
    font-weight: bold;
    font-family: 'Gilroy', sans-serif;
}
.news__item-readmore {
    width: 100px;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    float: right;
}
.news__item-demo {
  cursor: pointer;
}
.rx-main__news-readmore {
    font-family: SourceSansPro;
    font-size: 12px;
    text-align: center;
    color: #3b86ff;
    padding: 12px;
}
.rx-footer-subcribe .rx-footer {
    min-height: unset;
    display: flex;
}
.rx-advertisement_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.rx-advertisement-body {
    height: 375px;
}
.rx-advertisement_readmore {
  width: 140px;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px #fedc00;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
.rx-carousel-brand {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #caced5;
    padding: 10px;
}
