.admin-topnav {
  width: 100%;
  display: block;
  height: 54px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  top: 0px;
}

.admin-mainnav {
  height: calc(100vh - 55px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 200px;
  background-color: #14253b;
  position: fixed;
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding-top: 0px;
}

.admin-mainnav-inner {
  height: calc(100vh - 85px);
  position: relative;
  padding-top: 85px;
  /*overflow-x: hidden;
  overflow-y: auto;*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.icon-speedometer-right {
  float: right;
  margin-right: 5px;
  padding: 5px;
  font-size: 8px;
}

.admin-container {
  top: 0px;  
  margin-left: 200px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0px;
  height: 100%;
  /*min-height: 1300px;*/
  padding: 30px;
  padding-top: 95px;
  background-color: #f1f4f9;  
  position: relative;
}

.admin-mainnav-items {
  margin-bottom: 10px;
}

.admin-mainnav-items a {
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: bold;
  color: #9da3ad;
  display: block;
}

/*.admin-mainnav-items a:hover {
  color: #fff !important;
  background: #303946 !important;
}
.admin-mainnav-items a:active {
  background-color: #124c96;
}*/

.admin-mainnav-item {
  margin-left: 10px;
}

.admin-mainnav-title {
  padding: 0.5rem 0.1rem;
  padding-left: 2rem;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9da3ad;
}

.admin-mainnav-name {
  margin-left: 20px;
  padding: .4rem 0.2rem;
  padding-left: 1.3rem;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #9da3ad;
}

.admin-mainnav-icon {
  margin-top: 5px;
  margin-left: 20px;
  float: left;
  width: 4px;
  height: 18px;
  background-color: #1358b1;
}

.admin-mainnav-active {
  background-color: #124c96;
}

.admin-cardblock {
  width: 100%;
  box-shadow: 1px 1px 25px rgba(0,0,0,0.1);  
  box-sizing: border-box;
  min-height: 550px;
  margin-bottom: 30px;
  position: relative;
}

.admin-cardblock-head {
  /*height: 65px;*/
  padding: 20px 25px;
  box-sizing: border-box;
}

.admin-cardblock-head>.title {
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #2b333d;
}

.admin-cardblock-head>.description {
  /*opacity: .4;*/
  font-size: 13px;
  margin-top: 2px;
  font-weight: normal;
  color: #2b333d;
  font-family: 'Quicksand', sans-serif;
}

/* Login form */
.admin-login-container {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background: #ffffff;
  width: 100%;
  height: 200%;
}

.admin-login-inner {
  width: 350px;
  margin: auto;
  margin-top: 90px;
}

.admin-login-head {
  width: 124px;
  margin: auto;
  font-weight: 200;
  font-size: 21px;
}

form {
  background: #ffffff;
  border: none;
  margin: auto;
  padding: 20px;
}

.fullwidth-label {
  font-weight: bold;
  margin-top: 15px;
  font-family: 'Quicksand', sans-serif;
}

input.fullwidth-input, textarea.fullwidth-input {
  border-radius: 3px;
  border: solid 1px #d2d2d2;
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}
input.fullwidth-input::placeholder, textarea.fullwidth-input::placeholder {
  color: #929292;
}
.cart-page-customer-inner input.fullwidth-input, .cart-page-customer-inner textarea.fullwidth-input {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 14px;
}

input.widewidth-input {
  width: 200px;
  margin-left: 0px;
}

input.fullwidth-submit {
  margin: 0px;
  margin-top: 10px;
  width: 100%;
  background-color: #2196F3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input.fullwidth-submit:hover, input.fullwidth-submit:focus {
  background-color: #147acc;
}

.admin-login-inner {
  width: 350px;
  margin: auto;
  margin-top: 90px;
  padding: 25px 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
}

.admin-mainnav-end {
  height: 50px;
  display: block;
}

.admin-login-error {
  color: #E91E63;
  margin-top: 30px;
}

.admin-table-cate {
  width: 100%;
  padding-right: 25px;
  box-sizing: border-box;  
}

.admin-table-product {
  width: 100%;
}

.admin-container .admin-container-inner {
  background-color: #ffffff;
}

.admin-cardblock-body-inner {
  padding: 15px;
}

.admin-table-product-img {
  height: 40px;
  border-radius: 2px;
}

.table-lowpadding {
  padding: 5px;
  width: 55px;
}

.admin-cardblock-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  background: #ffffff;
  z-index: 100;
}

.admin-cardblock-formname {
  font-size: 16px;
  padding: 10px;
  font-weight: 100;
  background-color: #f8f8f8;
  position: sticky;
  z-index: 2;
  top: 0;
  font-family: 'Quicksand', sans-serif;
}

.admin-cardblock-formname>b {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.admin-cardblock-formclose {
  float: right;
  font-weight: 100;
  font-size: 34px;
  line-height: 23px;
  /*border: solid 1px;*/
  /*border-radius: 50%;*/
  /*width: 30px;*/
  /*box-sizing: border-box;*/
  /*height: 30px;*/
  text-align: center;
  cursor: pointer;
  margin-top: -3px;
}

.admin-cardblock-formbody {
  padding: 15px;
}

[type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], input:not([type]), select, textarea {
  background: #ffffff;
  padding: 5px 8px;
  border-color: #e8e8e8;
  border-radius: 3px;
}

.admin-cardblock-btns {
  margin-top: 30px;  
}

.btn-cancel {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 3px 10px;
  background-color: #E5E5E5;
  border-radius: 2px;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
}

.btn-clone {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 3px 10px;
  background-color: #1976D2;
  border-radius: 2px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
}

.btn-edit {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 3px 10px;
  background-color: #03A9F4;
  border-radius: 2px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.btn-save {
  cursor: pointer;
  float: right;
  padding: 3px 10px;
  background-color: #519dca;
  border-radius: 2px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
}

.rx-recycle {
  font-size: 16px;
  color: #000;
  padding: 2px;
  border-radius: 2px;
  margin-bottom: 12px;
  display: inline-block;
  cursor: pointer;
}

.admin-table-wrap {
  overflow-x: scroll;
  overflow-y: hidden;
}
.admin-table-wrap-brand {
  margin-top: 45px;
}

table.admin-table-cate {
  /*margin-bottom: 20px;*/
}

span.admin-table-on {
  font-size: 9px;
  background: #4CAF50;
  padding: 1px 6px;
  color: #ffffff;
  border-radius: 2px;
  border: solid 1px #4CAF50;
  font-family: 'Quicksand', sans-serif;
}

span.admin-table-hot {
  font-size: 10px;
  margin-right: 5px;
  color: #e91e63;
  font-weight: 500;
}

span.admin-cardblock-filterwrap {
  position: relative;
}

span.admin-cardblock-filterwrap:before {
  font-family: simple-line-icons;
  content: "\E090";
  width: 25px;
  height: 25px;
  font-size: 13px;
  color: #000000;
  position: absolute;
  top: -5px;
  left: 7px;
}

input[type=text].admin-cardblock-filterinput {
  margin-left: 0;
  padding: 2px 5px;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 100;
  color: #000000;
  width: 120px;
  margin-bottom: 11px;
  padding-left: 25px;
  border-radius: 25px;
  font-family: 'Quicksand', sans-serif;
}

input.admin-cardblock-filterinput.product {
  width: 200px;
  padding: 5px;
  padding-left: 30px;
}

span.admin-table-off {
  border: solid 1px #9E9E9E;;
  background-color: #9E9E9E;
  font-size: 9px;
  padding: 1px 4px;
  padding-top: 1px;
  border-radius: 2px;
  color: #ffffff;
}

tr.rx-active {
  background-color: #eceff4;  
  font-weight: bold;
}

span.rx-action-edit {
  font-weight: normal;
  font-size: 9px;
  padding: 1px 4px;
  color: #2296f3;
  border: solid 1px #2196F3;
  border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Quicksand', sans-serif;
}

span.rx-action-restore {
  font-weight: normal;
  font-size: 9px;
  padding: 1px 4px;
  color: #2296f3;
  border: solid 1px #2196F3;
  border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
  white-space: nowrap;
}

span.rx-action-delete {
  font-weight: normal;
  font-size: 9px;
  padding: 1px 4px;
  color: red;
  border: solid 1px red;
  border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
  white-space: nowrap; 
  font-family: 'Quicksand', sans-serif; 
}

th.rx-sort-desc, th.rx-sort-asc {
  background-color: #000;
}

th.rx-sort-desc:after {
  content: '>';
  font-weight: 100;
  right: 0px;
  float: right;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

th.rx-sort-asc:after {
  content: '<';
  font-weight: 100;
  right: 0px;
  float: right;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

th.rx-th-width-300 {
  width: 300px;
}

th.rx-th-width-220 {
  width: 220px;
}

th.rx-th-width-100 {
  width: 100px;
}

th.rx-th-width-60 {
  width: 70px;
}

th.rx-th-alignright {
  text-align: right !important;
}

.admin-container table {
  border: none;
  font-size: 12px;  
}

.admin-container table small {
  font-size: 9px;
  font-style: italic;
  color: #888;
  max-height: 57px;
  overflow: hidden;
  display: block;
  font-family: 'Quicksand', sans-serif;
}

.admin-container table td,.admin-container table th {
  text-align: left;
  border: none;
  border-color: #eeeeee; 
  font-family: 'Quicksand', sans-serif;
}
.admin-container table td >span,.admin-container table th >span {
  font-family: 'Quicksand', sans-serif;
}

.admin-container table th {
  font-size: 12px;
  background-color: #2b333e;
  font-weight: 500;
  padding: 6px 10px;
  color: #c3cddd;
}

.admin-container table td {
  background-color: transparent;
  border-bottom: solid 1px #eceff4 !important;
}

.admin-container table td:first-child {
  border-left: solid 1px #eceff4 !important;
}

.admin-container table td:last-child {
  border-right: solid 1px #eceff4 !important;
  text-align: right;
}

.admin-container table tr:hover {
  background-color: #f2f4f8;
}

.admin-container tr:nth-child(odd) {
  /*background-color: #f7f8ff;*/
}

.admin-container img.admin-product-img-upload {
  width: auto;
  height: auto;
  padding: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  max-height: 300px;
}
.img-detail img.admin-product-img-upload {
  width: 100%;
  height: 100%;
}

span.table-stock {
  font-weight: bold;
  color: #4caf4f;
  font-size: 11px;
  float: right;
}

.admin-product-img-multi {
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

.admin-product-img-remove {
  position: absolute;
  padding: 0px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 100;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  margin-top: 5px;
}

/* Pagination */
.pagin-back, .pagin-next, .pagin-curr, .pagin-left, .pagin-right {
  float: left;
  /*box-shadow: 1px 1px 5px rgba(0,0,0,0.2);*/
  padding: 2px 5px;
  padding-top: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 2px;
  color: #000;
  min-width: 25px;
  text-align: center;
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Quicksand', sans-serif;
}

.pagin-curr {
  /*font-weight: bold;*/
}

.pagin-next, .pagin-back {
    border-radius: 2px;
    background-color: #828282;
    padding: 6px 8px;
    color: #fff;
    font-weight: bold;
}
.pagin-left i, .pagin-right i {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.pagin-next i, .pagin-back i {
    font-weight: 600;
}
.admin-table-pagination {
  position: relative;
}

.admin-table-pagination:after {
  /*content: '(Chọn trang)';*/
  font-size: 9px;
  font-style: italic;
  color: #aaa;
  font-weight: 100;
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
  font-family: 'Quicksand', sans-serif;
}

.admin-pagin-right.admin-table-pagination {
  float: right;
  margin: 0;
  width: unset;
  height: unset;
}

.admin-pagin-right.admin-table-pagination:after {
  left: -85px;
  width: 75px;
}

span.table-price {
  color: #ff0002;
  font-weight: 500;
  font-size: 11px;
  width: 100%;
  text-align: right;
  display: block;
}

.nav-icon {
  position: absolute;
  margin-left: -25px;
  margin-top: 1px;
  font-size: 14px;
  color: #90949a;
}
.fullwidth-form-body {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
}
.p10 {
  width: 100%;
}
.admin-cardblock-btn-add-new {
  position: absolute;
  top: 40px;
  right: 0px;
}
.btn-clone.remove {
  background: #e5e5e5;
  color: #000;
}
.col-md-12.heda {
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
}
.form-body-heda-content {
  border-top: 1px solid #eee;
  margin-bottom: 30px;
}
.form-body-heda-content:first-child {
  border: none;
}
.heda_hide {
  color: #9fafba;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}
.fullwidth-label.col-md-12 {
  border-bottom: 1px solid #333;

}
.product_options {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
.rxexpand-wrap {
  width: 100%;
}
.selectbox-admin {
  width: 100%;
  margin-left: 0;
}
.selectbox-admin {
  font-family: 'Quicksand', sans-serif;
}
.selectbox-admin >option {
  font-family: 'Quicksand', sans-serif;
}
.note_m {
  color: #9fafba;
  font-weight: normal;
  text-transform: none;
  font-family: 'Quicksand', sans-serif;
}
.admin-cardblock-form-variant {
  margin-top: 30px;
  width: 100%;
}
.table-admin {
  width: 100%;
  overflow-x: scroll;
}
.form-variant-tags-suggest .input-group-variant {
  /*margin-top: 10px;*/
}
.input-group-variant ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 5px;
}
.input-group-variant ul li {
  margin-right: 3px;
  margin-bottom: 3px;
  background: #cae9f7;
  color: #005e94;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  word-wrap: break-word;
  max-width: 100%;
  border-radius: 3px;
  padding-right: 0px;
}
label.item.tag-color {
  flex: 0 1 auto;
  min-width: 0;
  width: 100%;
  display: block!important;
  padding: 4px 8px;
  margin: 0;
  cursor: pointer;
}
.bootstrap-tagsinput {
  background-color: #fff;
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  width: 100%;
  line-height: 22px;
  white-space: pre-line;
  word-wrap: break-word;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
}
.label-tags {
  background: #cae9f7;
  color: #005e94;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  word-wrap: break-word;
  max-width: 100%;
  border-radius: 3px;
}
.tag {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #005e94;
}
span.remove {
  margin-left: 8px;
  cursor: pointer;
}
span.tag.label.label-tags span:after {
  content: '×';
  padding: 0 2px;
  font-size: 14px;
  vertical-align: bottom;
}
input.fullwidth-input-tag {
  width: 100%;
  border: none;
}
.table-admin tr td {
  vertical-align: top;
}
.add-variant {
    margin: 15px 0;
}
.add-variant a {
  padding: 7px 12px;
  border-radius: 3px;
  border: 1px solid #eee;
  background-color: #e5e5e5;
}
.rx-main-banner-inner {
  /*display: none;*/
}

.bootstrap-tagsinput {
  background-color: #fff;
  display: inline-block;
  padding: 4px 0px 6px 6px;
  color: #555;
  vertical-align: middle;
  width: 100%;
  line-height: 22px;
  white-space: pre-line;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
}

.bootstrap-tagsinput .tag {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 4px 3px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #005e94;
}

.label-tags {
  background: #cae9f7;
  color: #005e94;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  word-wrap: break-word;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.bootstrap-tagsinput input[type=text] {
  line-height: 25px;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%!important;
  max-width: inherit;
}

.lk-del-option {
  width: 100px;
  height: 30px;
  color: #fff;
  margin: 0 auto;
  top: 0px;
  position: relative;
}
.btn-del-option {
  margin: auto;
  margin-top: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  border: 1px solid #eee;
  width: 40px;
  border-radius: 3px;
  color: #000;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
}

.text-dark {
  font-weight: bold;
}

.btn-add-property {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  border: 1px solid #eee;
  width: 108px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 3px;
  color: #000;
  padding: 5px;
  cursor: pointer;
}

.mt10 {
  background-color: #fff;
  display: inline-block;
  padding: 4px 0px 6px 0px;
  color: #555;
  vertical-align: middle;
  width: 100%;
  line-height: 22px;
  white-space: pre-line;
  word-wrap: break-word;
}

.remove-property, .item-property label{
  cursor: pointer;
}

.mt10 .item-property {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 4px 3px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #005e94;
  border: 1px solid #cae9f7;
  background-color: #cae9f7;
  border-radius: 3px;
}

.property-size {
  display: inline;
}

.property-size input, .property-size span{
  width: 20%;
}
.inputfile >div>input{
     height: auto; 
     width: auto; 
     position: relative; 
     -webkit-clip-path: none; 
     clip-path: none; 
}
.inputfile >div >span{
  font-size: 14px;
  margin-right: 10px;
}
.inputfile >span{
  font-size: 14px;
}
.inputfile .btn-clone {
  float: none;
}
.lk-modal-content.resize {
    margin-top: 50px;
    min-height: 500px;
}
.lk-table {
    height: 330px;
}
.ReactCrop {
  max-width: 50%;
  height: 100%;
}
.image_result {
  height: 100%;
  width: 48%;
  float: right;
  margin: auto;
  object-fit: scale-down;
  border: 1px solid #828282;
  background-color: rgba(0, 0, 0, 0.5);
}
.ReactCrop__image {
  /*max-height: -webkit-fill-available;*/
  /* autoprefixer: off */
  max-height: -webkit-fill-available;
  /*height: 100%;*/
}
.admin-totalpage.admin-pagin-right {
    float: right;
    font-family: 'Quicksand', sans-serif;
}
.popupmodal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: flex;
}

.popupmodal__header {

  /* padding: 9px 15px 35px 10px;
  height: 23px; */
  padding: 12px 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F8FA;
}

.popupmodal__title {
  font-size: 16px;
  font-weight: 600;  /* padding-left: 20px; */
}

.popupmodal__content {
  background-color: #fefefe;
  margin: 140px auto;
  border: 1px solid #888;
  width: 400px;  /* min-height: 200px; */
  border-radius: 3px;
  overflow: auto;  /* height: 380px; */
  box-shadow: 0 5px 15px #00000080;
}

.popupmodal__btnclose {
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
}

.popupmodal__btnclose:hover {
  font-weight: bold;
}

.popupmodal__body {
  padding: 20px;
}
.not_print { display: block !important; }
.print { display: none !important; }
._print_form_add {
  font-weight: normal;
}
._print_form_phone {
}
._print_width_50 {
  width: 50%;
  display: inline-block;
  padding-right: 10px;
  font-size: 15px;
}
.rxpopup-addnew-cus__ {
  position: absolute;
  top: -15px;
  left: -200px;
  right: 0px;
  width: ;
  min-height: 80%;
  /* height: 100%; */
  /* margin: 0 auto; */
  z-index: 1000;
  /* border: 1px solid #eee; */
  /* padding: 10px; */
  background: #fff;
}
body.changeCursor {margin: 0; overflow: hidden}
@media print {
  html, body {margin: 0; height: fit-content}
  .main-back-to-top, .admin-cardblock, .admin-topnav, .admin-mainnav {display: none !important; }
  .print { display: block !important;z-index: 100; overflow: hidden; }
  ._print_pt.print { display: block; z-index: 10000; }
  .adform__btns { display: none; }
  .rxpopup-addnew-cus__._print { display: block; }
  /*.adform_receipt { page-break-before: always; }*/
}
.adblock {
  position: relative;  
  background-color: #ffffff;
}
.adblock__body {
  padding: 20px;
}
.adblock__inner {
  grid-row: 2;
  height: 50%;
}
/* adform */
.adform {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0px;
  min-height: 100%;
  z-index: 99;
}
.adform_header {
  padding: 20px;
}

._print_form_title {
  display: block;
  font-weight: bold;
  /*font-family: 'Gilroy', sans-serif;*/
}
.adform_title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.adform_title ._adf {
  font-size: 22px;
  text-transform: uppercase;
}
.adform__body._cus {
  overflow: hidden;
  /*padding: 20px;
  padding-top: 5px;*/
}
.adform_ct div {
  display: inline-block;
  width: 130px;
  /*padding: 5px 0;*/
}
.adtable__main {
  margin-top: 10px;
  overflow-x: auto;  
}
.adform_ct b {
  font-weight: bold;
}
.adtable__inner {
  width: 100%;
  text-align: left;
}
.adtable__inner tbody {
  border: solid 1px #eeeeee;
}
.adtable__inner td, .adtable__inner th {
  padding: 10px 5px;
  max-width: 220px;
  min-width: 80px;
  vertical-align: middle !important;
}
.adtable__inner.print_order td, .adtable__inner.print_order th {
  padding: 5px !important;
  min-width: unset !important;
}
.adtable__inner td:first-child {
  min-height: 35px;
  /*display: inline-block;*/
}
.adform__footer {
  padding-top: 25px;
}
._f1 {
  width: 25%;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
.lk-print-lable-number {
    text-align: center !important;
}
._adf_date {
  font-weight: normal;
  font-style: italic;
}
._adf_right {
    position: absolute;
    top: 15%;
    left: 70%;
}
.adform_title .logo {
  position: absolute;
  width: 160px;
  background-size: 100%;
  height: 100px;
  top: 125px;
  left: 40px;
  background-position: center;
}
.receiver_address {
  margin: unset;
  width: 65%;
}
.adform_header_info_note {
  width: 35%;
}
.receiver_address .adform_ct_header {
  text-align: center;
  line-height: 2;
  border-bottom: 1px solid #323232 !important;
}
.receiver_address .adform_ct {
  text-align: left;
  line-height: 20px;
  padding-left: 7px;
}
.adform_header-info {
  /*margin-bottom: 30px;*/
}
.adform_header_logo {
  position: absolute;
  right: 0;
  height: 90px;
  margin: 5px 10px 0;
  display: block !important;
}
.adform_header_title {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.adform_header_title_invoice {
    width: 100%;
}
.adform_ct.row span:first-child {
  width: 200px;
}
.adform_footer_transform {
    margin-top: -25px;
    padding-bottom: 10px;
}
.adform_header_right div {
  text-align: right;
}
.adform_header_time {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin-top: -5px;
}
.adform_header.print_order.row {
  padding-bottom: 0;
}
.adform_header_page {
    font-weight: bold;
}
.adform_header_left {
    width: 79.99%;
    display: block;
}
.adform_header_right {
    width: 20%;
    position: relative;
    /*overflow: hidden;*/
}
.adform_ct.note_text {
    height: 50px;
    overflow: hidden;
}
.adform_ct.phone {
    padding-top: 5px;
}
.adtable__inner tr:nth-child(odd) {
    background-color: #f7f8ff;
}
.lk-print-lable-number img {
    width: 40px !important;
}
.adfrom_footer_content div {
    font-size: 14px;
}
.adform__body_total {
    float: right;
    width: 100%;
}
.adform__body_total .adform_ct span {
    text-align: right;
    float: right;
    margin-right: 5%;
}
.adform_footer_bank .adform_ct {
    font-size: 16px;
}
.adform_footer_bank {
  padding-bottom: 10px;
  margin-top: -20px;
  width: 100%;
}
.form-controlLanguage {
    float: right;
}
.form-controlLanguage.vn {
  background-image: url(/images/static/vietnam.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-controlLanguage.eng {
  background-image: url(/images/static/eng.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-controlLanguage>div, .box-change-language div {
    width: 26px;
    height: 26px;
    background-position: center;
    background-size: 100%;
    margin: 5px 0 0 5px;
    cursor: pointer;
    border-radius: 50%;
}
.form-controlLanguage {
    margin-top: 10px;
    margin-right: 30px;
    float: right;
}
.box-change-language {
    right: 0;
    top: 0;
    position: fixed;
}
._print_form_facebook img {
    width: 20px;
}
._print_form_facebook {
    font-size: 18px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    text-align: center;
}
.form-controlLanguage.active {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.adtable__inner.print_order thead tr th {
    padding: 2px;
}
.lk-cart-remove {
  bottom: 0;
  right: 0;
  position: absolute;
  border: 1px solid #f2f2f2;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: #c01b29;
}
.lk-cart-add-product {
  position: absolute;
  bottom: 0;
  right: 7%;
  border: 1px solid #f2f2f2;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}
.lk-cart-add-product.advertisement {
  position: relative;
  bottom: unset;
  right: unset;
  border: unset;
  padding: unset;
  border-radius: unset;
  cursor: unset;
  background: #fff;
}
.advertisement .rxselectbox-wrap {
  width: 250px;
  height: 35px;
  border: 1px solid #f2f2f2;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
}
.rxselectbox-toggle-product {
  display: none; 
  position: fixed;
  background: #fff;
  top: 10%;
  left: 25%;
  right: 50%;
  bottom: 10%;
  z-index: 1000;
  width: 1000px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.2);
  overflow: auto;
  min-height: 150px;
}
.rxselectbox-toggle-product.active {
  display: block;
}
img.rxtable-img-product {
  width: 50px;
}
td.rxcenter {
  text-align: center !important;
}
.rxcloseform {
  width: 20px;
  height: 20px;
  position: sticky;
  right: 5px;
  top: 0;
  z-index: 999;
  float: right;
}
.icon-close.nav-icon._icon_close {
  font-size: 17px;
  background: #f3f3f3;
  cursor: pointer;
  color: red;
  margin: 0;
}
.adform__btns.slc_order .adform__btncancel {
  float: left;
  margin-top: 5px;
}

.adform__btncancel {
  padding: 7px 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  background: #fff;
}
.adform__btns.slc_order {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  bottom: -15px;
  background: #fff;
}
.rxselectbox-toggle-product .rxselectbox-filter {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: #fff;
    top: 0;
}
.adtable__innerscrollwrap thead tr th {
    position: sticky;
    top: 50px;
}
input.lk-card-order-quantity {
    width: 45px !important;
    text-align: center;
}
.adtable__paginProduct.adtable__pagin--botProduct.slc_order {
    margin-left: 100px;
    position: relative;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.admin-table-pagination {
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-top: 15px;
    /*width: 25px;
    height: 25px;*/
    text-align: center;
    line-height: 25px;
    bottom: 2px;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
}
.adtable__paginProduct>div {
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    bottom: 2px;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
}
.adtable__paginback.adtable__paginfirst {
    line-height: 25px;
    height: 26px;
}
.adtable__paginfirst, .adtable__paginlast {
    background-size: contain;
    position: relative;
    display: inline-block;
    height: 25px;
    width: 25px;
    top: 9px;
}
.adtable__paginfirst {
    background-image: url(/images/static/icon-start.png);
    margin-right: 10px;
}
.adtable__pagincurr.adtable__pagincurr--active {
    background-color: #ec1f27;
    color: #fff;
}
.adtable__paginnext.adtable__paginlast {
    height: 26px;
    margin-left: 2px;
    line-height: 25px;
}
.adtable__paginlast {
    background-image: url(/images/static/icon-end.png);
    margin-left: 10px;
}
.rx-popup_reasons {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.rx-popup_reason {
    width: 600px;
    height: 300px;
}
.rx-total-deleted-order {
    padding-left: 15px;
}
.adblock__label {
  width: 70%;
  padding: 30px 50px;
  margin: auto;
  min-height: 350px;
  border: 1px solid #00aff5;
}
.adblock__label-logo {
    width: 100px;
}
.adblock__label-cusinfo {
    padding-top: 35px;
    /*width: 50%;*/
    margin: auto;
    width: fit-content;
    text-transform: uppercase;
}
.adblock__label-sale {
    white-space: nowrap;
}