  
/* RXTOGGLE */
.rxtoggle-container {
  display: block;
  position: relative;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 60px;
  height: 36px;
  border-radius: 30px;
  background: #f8f8f8;
  cursor: pointer;
  box-sizing: border-box;
}

.rxtoggle-style1 {
  -webkit-box-shadow: inset 0 0 0 0px rgba(19,191,17,1), 0 0 0 2px #dddddd;
  -moz-box-shadow: inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
  box-shadow: inset 0 0 0 0px rgba(19,191,17,1), 0 0 0 2px #dddddd;
}

.rxtoggle-style1.rx-active {
  -webkit-box-shadow: inset 0 0 0 18px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
  -moz-box-shadow: inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
  box-shadow: inset 0 0 0 18px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
  background: #12bf11;
}

.rxtoggle-inner {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 36px;
  width: 36px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  outline: none;
  font-family: Helvetica Neue,helvetica,arial,verdana,sans-serif;
}

.rx-active>.rxtoggle-inner{
  left: calc(100% - 36px);
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
}

/* RXEXPENDABLE */
.rxexpand-wrap {
  margin-top: 5px;
  margin-bottom: 25px;  
  position: relative;
  overflow: hidden;  
  box-sizing: border-box;
}

.rxexpand-toggle {
  position: absolute;
  height: 20px;
  width: 8%;
  left: 46%;
  display: block;
  bottom: -3px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  border-radius: 3px;
  opacity: 0.7;
}

.rxexpand-toggle:after {
  content: ".....";
  display: block;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 100;
  line-height: 11px;
  color: #999;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.rxexpand-toggle.rx-active:after {  
}


/* RXSELECTBOX */
.rxselectbox-wrap {
  position: relative;
}

.rxselectbox-toggle {
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 150px;
  z-index: 10;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
}
.rxselectbox-toggle >span {
  font-family: 'Quicksand', sans-serif;
}

.rxselectbox-wrap:hover .rxselectbox-toggle {
  display: block;
}

.rxselectbox-toggle>div {
  padding: 10px 15px;
  cursor: pointer;
}

.rxselectbox-toggle>div:first-child {
  padding: 5px 15px;
  cursor: pointer;
}

.rxselectbox-filter input {
  width: 100%;
  margin: 0px;
}

.rxselectbox-toggle>div:hover {
  background-color: #2196F3;
  color: #fff;
}

.rxselectbox-toggle>div:first-child:hover {
  background-color: #ffffff;
  color: #000;
}

.rxselectbox-result {
  min-height: 33px;
  background-color: #fff;
  border: 1px solid #eee;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 5px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.rxselectbox-result>div, span.tags {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 1px 5px;
  padding-right: 20px;
  float: left;
  border: 1px solid #eee;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.rxselectbox-result>div>b, a.tagsremove {
  padding: 1px 4px;
  margin-left: 3px;
  border-radius: 15px;
  background-color: #000000;
  color: #fff;
  font-weight: 100;
  display: inline-block;
  width: 14px;
  height: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0px;
  position: absolute;
  top: 3px;
  right: 3px;
  line-height: 10px;
  font-size: 9px;
}

.rxselectbox-resultempty {
  position: absolute;
  top: 9px;
  left: 15px;
  font-style: italic;
  color: #aaa;
}

/* RXDRAGDROP*/
.rxdragdrop-wrap {
  width: 300px;
  height: 500px;
  overflow-y: scroll;
}
.rxdragdrop-container {
  display: block;
  padding: 13px;
  border: solid 1px #eee;
}
.rxdragdrop-container>div:first-child {
  margin-top: 10px;
}

div.rxdragdrop-placeholder {
  background: rgb(255,240,120);
}

div.rxdragdrop-placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

.rxdragdroptree-over {
  padding-right: 26px;
}

.rxdragdroptree-wrap {
  width: 100%;
}

.rxdragdroptree-item-inner {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 10px;
  height: 20px;
}

.rxdragdroptree-item {
  position: relative;
  display: block;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #eee;
  box-sizing: border-box;
}

.rxdragdroptree-item>div:first-child { 
}

.rxdragdroptree-placeholder { 
  background: red;
  z-index: 10;
  position: absolute;
  width: 100px;
}

.rxdragdroptree-placeholder:before {
  content: ''; 
  color: #ffffff;
  display: block;
  height: 2px;  
  /*border-bottom: solid 1px red;*/
  box-shadow: 0px 0px 10px red;
  box-sizing: border-box;  
}


.rxdragdroptree-over.rxdragdroptree-folderstyle {
  padding-right: 26px;
  height: 400px;
  overflow-y: scroll;
}

.rxdragdroptree-folderstyle .rxdragdroptree-wrap {
  width: 100%;
}

.rxdragdroptree-folderstyle  .rxdragdroptree-item-inner {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 10px;
  height: 20px;
}

.rxdragdroptree-folderstyle .rxdragdroptree-item {
  position: relative;
  display: block;
  padding: 0px;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 11px;
  border: none;
  border-left: solid 1px #aaa;
  padding-top: 9px;
  padding-bottom: 0px;
  margin-left: 5px;
}

.rxdragdroptree-folderstyle .rxdragdroptree-item:before {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  position: absolute;
  background-color: #aaa;
  left: 0px;
  top: 21px;
}

.rxdragdroptree-folderstyle  .rxdragdroptree-item>div:first-child { 
}

.rxdragdroptree-folderstyle  .rxdragdroptree-placeholder { 
  background: red;
  z-index: 10;
  position: absolute;
  width: 100px;
}

.rxdragdroptree-folderstyle  .rxdragdroptree-placeholder:before {
  content: ''; 
  color: #ffffff;
  display: block;
  height: 2px;
  box-shadow: 0px 0px 10px red;
  box-sizing: border-box;  
}

.rxdragdroptree-folderstyle .rxdragdroptree-item-content {
  height: 30px;
  display: block;
  background-color: #fff;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px #aaa;
  overflow: hidden;
}

/* animation */

/* headnavleft */
.tabs-gender {
  float: left;
  width: auto;
}
.headnavleft__item {
  font-weight: 500;
  letter-spacing: 2.1px;
  padding-left: 0;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 0 solid transparent;
  padding: 20px 0 26px 0.1em;
  margin-right: 30px;
  -webkit-transition: padding .3s ease-in-out;
  transition: padding .3s ease-in-out;
  position: relative;
  color: #aaa;
}
.headnavleft__item:before {
  display: none; 
  content: "";
  color: transparent;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -7.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 8px;
  border-color: transparent transparent #222;
  line-height: 0;
}
.tabs-gender:hover a, .tabs-gender.tabs-active a {
  color: #2c333e;
}
.tabs-gender:hover a:before {
  display: block;
}
.tabs-gender.tabs-active a:before {
  display: block;
}
/* blockfull */
.blockfull--product {
  /*background-color: #f3f4f6;  */
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px 0;
}
.blockfull--product-new {
  background-color: #ffffff;  
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px 0;
}
.blockfull--product-featured {
    position: relative;
    /*background-color: #f3f4f6;*/
    margin: 30px 0;
}
/* blockproduct */
.blockproduct__colwrap {
  display: block;
  overflow-x: auto;
}
.blockproduct__col {
  position: relative;  
  /*white-space: nowrap;
  padding: 10px 0;*/
  grid-template-columns: repeat(6,1fr);
  display: grid;
  grid-row-gap: 20px;
}
.rx-main-product.rx-watched .blockproduct__col {
  position: relative;
  white-space: nowrap;
  padding: 10px 0;
  display: unset;
}
.rx-main-product.rx-watched .blockproduct__item {
  /*width: 20%;*/
  width: 212px;
  display: inline-block;
  border: solid 1px #e2e2e2;
  border-right: unset;
}
.blockproduct__item {
  width: 99%;
  /* margin-right: 1px; */
  display: inline-block;
  border: solid 1px #e2e2e2;
  /*border-right: unset;*/
}
.blockproduct__item:last-child {
  border-right: solid 1px #e2e2e2;
}
.blockproduct__item:hover,.boxfeatured-ele:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.blockproduct__item:hover .figure-body-title {
    color: #f5a623;
}
/*.boxfeatured-ele:hover.boxfeatured-ele .rx-product-figure-header .rx-product-figure-header-img {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}*/
.blockproduct__more {
    width: 160px;
    height: 44px;
    margin: auto;
    background-color: #323232;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 1px #323232;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    -webkit-transition: opacity .15s;
    -o-transition: opacity .15s;
    transition: opacity .15s;
}
.blockproduct__more:hover {
  /*color: #124c96;*/
  background-color: #464646;
  /*border: solid 1px #124c96;*/
}
/* blockfix--banner */
.blockfix--banner {
  padding: 30px 30px;
}

.chart__item {
  background-color: #ffffff;
  margin-top: 30px;
  border: 1px solid #e2e5e8;
  padding: 30px;
  padding-top: 20px;
}
.chart__title {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  letter-spacing: normal;
  color: #1b2e4b;
}
.chart__content {
  margin-top: 30px;
  width: 100%;
}
.chart__select {
  float: right;
  width: 190px;
  height: 36px;
  border-radius: 2px;
  border: solid 1px #e0e3f3;
  background-color: #f8f8fc;
}
.chart__select--topic {
  float: right;
  width: 100px;
  height: 36px;
  border-radius: 2px;
  border: solid 1px #e0e3f3;
  background-color: #f8f8fc;
  position: absolute;
  right: 30px;
  z-index: 0;
  top: 50px;
}
.char__box {
  cursor: pointer;
  margin: 5px;
  width: 45%;
  height: 80px;
  border-radius: 2px;
  background-color: #f1f4f9;
}
.char__box__ware {
  margin: 5px;
  width: 100%;
  height: 170px;
}
.char__box__icon {
  width: 100%;
  height: 40px;
}
.char__box__icon_choxacthuc {
  background-image: url(/images/static/cho_xac_thuc.png); 
}
.char__box__icon_danggiaohang {
  background-image: url(/images/static/dang_giao_hang.png); 
}
.char__box__icon_choxuly {
  background-image: url(/images/static/cho_xu_ly.png); 
}
.char__box__icon_bihuy {
  background-image: url(/images/static/bi_huy.png); 
}
.char__box__rx__icon {
  top: 15px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  background-size: contain;
  margin:0 auto;
  position:relative;
}
.char__box__text {
  text-align: center;
  height: 40px;
  font-family: SourceSansPro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b333d;
}
.char__box__textware {
  margin-left: 30px;
  width: 50%;
  height: 40px;
  font-family: SourceSansPro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2b333d;
}

.imgslide {
  width: 100%;
  height: 100%;
}
select.fullwidth-select {
  background-color: #fff !important;
  background-image: url(/images/static/dropdown.png) !important;
  font-size: 16px;
  color: #323232;
  border-radius: 3px;
  border: solid 1px #d2d2d2;
  margin-top: 10px !important;
  margin-left: 0px !important;
  padding: 7px 10px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;

}
.box-payment b {
    min-width: 40%;
    display: inline-block;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #e3be00;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.loader {
  width: 100%;
  text-align: center;
  padding-top: 24px;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.blockfull--product-featured .Slider-slides, .Slider-slides>div {
    height: 710px;
}