<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
    <meta name="format-detection" content="telephone=no" />
    <title>Anna Store</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="http://api.mualaket.com/upload/image/94528509979GYOajdYC.ico" />    
    <link rel="stylesheet" href="/simplelineicon.css" />   
    <link rel="stylesheet" href="/static/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'> 
  </head>
  <body>    
    <div id="root"><%- html %></div>
    <script type="text/javascript"> window.__STATIC_CONTEXT__  = <%- serializedContext %></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/vendor.chunk.js"></script>     
    <script type="text/javascript">
      if (typeof(window.storeReset) == 'undefined') {
        setTimeout(() => { window.storeReset() }, 200)  
      } else {
        window.storeReset()
      }
      
    </script>
  </body>
</html>